<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
	</configSections>
	<appSettings file="settings.config" />
	<unity>
		<typeAliases>
			<typeAlias alias="IMapper" type="Gp.Examples.FullCalendar.Infrastructure.IMapper, Gp.Examples.FullCalendar.Infrastructure"/>
			<typeAlias alias="NhSession" type="Gp.Examples.FullCalendar.Data.NHibernate.NhSession,Gp.Examples.FullCalendar.Data.NHibernate"/>
			<typeAlias alias="IUserRepository" type="Gp.Examples.FullCalendar.Core.Repository.IUserRepository, Gp.Examples.FullCalendar.Core"/>
			<typeAlias alias="UserRepository" type="Gp.Examples.FullCalendar.Data.NHibernate.Repository.UserRepository,Gp.Examples.FullCalendar.Data.NHibernate"/>
			<typeAlias alias="IEventRepository" type="Gp.Examples.FullCalendar.Core.Repository.IEventRepository, Gp.Examples.FullCalendar.Core"/>
			<typeAlias alias="EventRepository" type="Gp.Examples.FullCalendar.Data.NHibernate.Repository.EventRepository,Gp.Examples.FullCalendar.Data.NHibernate"/>
		</typeAliases>
		<containers>
			<container>
				<types>
					<type type="IUserRepository" mapTo="UserRepository">
						<lifetime type="Gp.Examples.FullCalendar.Infrastructure.UnityRequestLifetimeManager`1[[Gp.Examples.FullCalendar.Core.Repository.IUserRepository,Gp.Examples.FullCalendar.Core]],Gp.Examples.FullCalendar.Infrastructure"/>
						<typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement, Microsoft.Practices.Unity.Configuration">
							<constructor>
								<param name="session" parameterType="IMapper">
									<dependency/>
								</param>
							</constructor>
						</typeConfig>
					</type>
					<type type="IEventRepository" mapTo="EventRepository">
						<lifetime type="Gp.Examples.FullCalendar.Infrastructure.UnityRequestLifetimeManager`1[[Gp.Examples.FullCalendar.Core.Repository.IEventRepository, Gp.Examples.FullCalendar.Core]],Gp.Examples.FullCalendar.Infrastructure"/>
						<typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement, Microsoft.Practices.Unity.Configuration">
							<constructor>
								<param name="session" parameterType="IMapper">
									<dependency/>
								</param>
							</constructor>
						</typeConfig>
					</type>
					<type type="IMapper" mapTo="NhSession">
						<lifetime type="Gp.Examples.FullCalendar.Infrastructure.UnityRequestLifetimeManager`1[[Gp.Examples.FullCalendar.Infrastructure.IMapper, Gp.Examples.FullCalendar.Infrastructure]],Gp.Examples.FullCalendar.Infrastructure"/>
						<typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement, Microsoft.Practices.Unity.Configuration">
							<constructor>
							</constructor>
						</typeConfig>
					</type>
				</types>
			</container>
		</containers>
	</unity>
	<connectionStrings>
		<add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</assemblies>
		</compilation>
		<authentication mode="Forms">
			<forms loginUrl="~/Account/LogOn" timeout="2880"/>
		</authentication>
		<membership defaultProvider="LiveIdMembershipProvider">
			<providers>
				<clear/>
				<!--add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" applicationName="/"/-->
				<add name="LiveIdMembershipProvider" type="Gp.Examples.FullCalendar.Authentication.LiveIdMembershipProvider, Gp.Examples.FullCalendar" enablePasswordRetrieval="false" enablePasswordReset="false" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" applicationName="/"/>
			</providers>
		</membership>
		<profile enabled="false">
			<providers>
				<clear/>
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="ApplicationServices" applicationName="/"/>
			</providers>
		</profile>
		<roleManager enabled="false">
			<providers>
				<clear/>
				<add connectionStringName="ApplicationServices" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
				<add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			</providers>
		</roleManager>
		<pages>
			<namespaces>
				<add namespace="System.Web.Mvc"/>
				<add namespace="System.Web.Mvc.Ajax"/>
				<add namespace="System.Web.Mvc.Html"/>
				<add namespace="System.Web.Routing"/>
			</namespaces>
		</pages>
		<httpHandlers>
			<add verb="*" path="*.mvc" validate="false" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</httpHandlers>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules runAllManagedModulesForAllRequests="true"/>
		<handlers>
			<remove name="MvcHttpHandler"/>
			<add name="MvcHttpHandler" preCondition="integratedMode" verb="*" path="*.mvc" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
