@model CornerkickWebMvc.Models.AdminModel

@{
  ViewBag.Title = "Log";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Log</h3>
@Html.TextAreaFor(x => x.sLog, 30, 1000, htmlAttributes: new { style = "width: 100%; max-width: 100%" })

<h3>Error</h3>
@Html.TextAreaFor(x => x.sErr, 30, 1000, htmlAttributes: new { style = "width: 100%; max-width: 100%" })
