*.mdf
*.ldf
*.bu
CornerkickAll.sln
*.ckx
Content/Uploads/*
bin
save
log/*
mail/*
wishlist/*
archive/*
laststate.txt
obj
*Credentials*
.vs
*.user
*.vspx
*.psess
App_Data/archive/*
App_Data/laststate.txt
App_Data/log.zip
App_Data/log/*
App_Data/mail/*
App_Data/wishlist/*
Content/Images/Portraits/*s.png
