@model CornerkickWebMvc.Models.ContractsModel

@{
  ViewBag.Title = "Verträge";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<head>
  <script type="text/javascript" src="~/Scripts/jquery-2.0.0.js"></script>
  <script type="text/javascript" src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="~/Scripts/Player.js"></script>
  <link rel="stylesheet" href="~/Content/DataTables/css/jquery.dataTables.min.css" />

  <script type="text/javascript">
    function drawDatatableContracts() {
      var oTable = $('#tableTeamContracts').DataTable({
        "ajax": {
          "url": '@Url.Action("ContractsGetTableTeam", "Member")',
          "type": 'GET',
          "dataType": "JSON",
          "data": function (d) {
            d.bPro = document.getElementById('rbPro').checked;
            d.bJouth = document.getElementById('rbJouth').checked;
            d.iPos = document.getElementById('ddlFilterPos').value;
            d.bNextSeason = document.getElementById('rbSeasonNext').checked;
          },
          "contentType": "application/json; charset=utf-8"
        },
        "columns": [
          { "data": "sID" },
          { "data": "sNb" },
          {
            "data": "sName",
            "render": function (data, type, row) {
              return '@Html.ActionLink("name", "PlayerDetails", "Member", new { i = "id" }, new { target = "" })'.replace("name", data).replace("id", row.sID);
            }
          },
          { "data": "sPosition" },
          { "data": "sSkill" },
          { "data": "sSkillIdeal" },
          { "data": "sAge" },
          { "data": "sTalent" },
          {
            "data": "iValue",
            "render": $.fn.dataTable.render.number('.', ',', 0, '')
          },
          {
            "data": "iSalary",
            "render": $.fn.dataTable.render.number('.', ',', 0, '')
          },
          {
            "data": "iBonusPlay",
            "render": $.fn.dataTable.render.number('.', ',', 0, '')
          },
          {
            "data": "iBonusGoal",
            "render": $.fn.dataTable.render.number('.', ',', 0, '')
          },
          { "data": "iLength" },
          { "data": "sFixTransferFee" },
          {
            "data": "sNat",
            "render": function (sNat, type, row) {
              return getNatIcon(sNat);
            }
          }
        ],
        "pageLength": 50,
        "paging": false,
        "info": false,
        "responsive": true,
        "searching": false,
        "order": [[2, "asc"]],
        "columnDefs": [
          {
            "targets": [0], // sID, bSubstituted, sGrade, iSuspended
            "orderable": false,
            "visible": false,
            "searchable": false
          },
          { "targets": [1, 2, 3, 4, 5, 6, 7, 12, 14], "className": "dt-center" },
          { "targets": [8, 9, 10, 11, 13], "className": "dt-right" }
        ],
        "select": false,
        "fnRowCallback": function (nRow, aData, iDisplayIndex) {
          if (aData.bJouth) {
            if (iDisplayIndex % 2 == 0) {
              $('td', nRow).css('background-color', "rgb(255,240,240)");
            } else {
              $('td', nRow).css('background-color', "rgb(255,245,245)");
            }
          }
        },
        "footerCallback": function (row, data, start, end, display) {
          var api = this.api(), data;

          // Remove the formatting to get integer data for summation
          var intVal = function (i) {
            return typeof i === 'string' ?
              i.replace(/[\$,]/g, '') * 1 :
              typeof i === 'number' ?
                i : 0;
          };

          // Calculate sum for columns 8 till 12
          var iCn;
          for (iCn = 8; iCn < 12; iCn++) {
            iSum = api
              .column(iCn)
              .data()
              .reduce(function (a, b) {
                return intVal(a) + intVal(b);
              }, 0);

            // Update table footer
            $(api.column(iCn).footer()).html(iSum.toLocaleString());
          }
        }
      });

      return oTable;
    }

    $(document).ready(function () {
      var tblContracts = drawDatatableContracts();

      document.getElementById("rbPro").addEventListener("change", function () { updateDatatable(tblContracts); });
      document.getElementById("rbJouth").addEventListener("change", function () { updateDatatable(tblContracts); });
      document.getElementById("ddlFilterPos").addEventListener("change", function () { updateDatatable(tblContracts); });
      document.getElementById("rbSeasonCurrent").addEventListener("change", function () { updateDatatable(tblContracts); });
      document.getElementById("rbSeasonNext").addEventListener("change", function () { updateDatatable(tblContracts); });
    }); // $(document).ready(function () {});

    function updateDatatable(tbl) {
      tbl.ajax.reload();
    }
  </script>
</head>

<div style="position: relative; width: 100%">
  <h3>Spielerverträge</h3>

    <div id="divCbProfiJouth" align="center" style="position: relative; float: left; width: 170px; height: 24px; margin-right: 10px; margin-bottom: 6px; white-space: nowrap; border: 1px solid grey; -webkit-border-radius: 10px; -moz-border-radius: 10px">
      <form>
        <fieldset>
          <label style="font-size: 100%; color: black; margin-right: 6px">
            <input type="checkbox" id="rbPro" name="rbProJouth" checked>
            Profis
          </label>
          <label style="font-size: 100%; color: black">
            <input type="checkbox" id="rbJouth" name="rbProJouth" checked>
            Jugend
          </label>
        </fieldset>
      </form>
    </div>

    <div style="position: relative; float: left; width: 146px; top: 4px; margin-right: 10px; margin-bottom: 12px">
      <label>
        Position:
        @Html.DropDownListFor(m => m.sFilterPos, Model.ltDdlFilterPos, new { @class = "form-control", id = "ddlFilterPos", @style = "position: absolute; top: -8px; left: 64px; width:80px" })
      </label>
    </div>

    <div align="center" style="position: relative; float: left; width: 204px; height: 24px; top: 0px; right: 0px; background-color: white; white-space: nowrap; border: 1px solid black; -webkit-border-radius: 10px; -moz-border-radius: 10px; z-index: 99">
      <form>
        <fieldset>
          <label style="cursor: pointer">
            <input type="radio" id="rbSeasonCurrent" name="rbSeason" value="0" checked>
            Aktuell
          </label>
          <label style="cursor: pointer">
            <input type="radio" id="rbSeasonNext" name="rbSeason" value="1">
            Nächste Saison
          </label>
        </fieldset>
      </form>
    </div>

  <div class="dataTables_wrapper">
    <table id="tableTeamContracts" cellspacing="0" style="width: 100%" class="display responsive nowrap compact">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nr</th>
          <th>Name</th>
          <th>Position</th>
          <th>Stärke</th>
          <th>St. ber.</th>
          <th>Alter</th>
          <th>Tal.</th>
          <th>Marktwert [€]</th>
          <th>Gehalt [€/a]</th>
          <th>Auflaufpr. [€]</th>
          <th>Torprämie [€]</th>
          <th>Lz [a]</th>
          <th>Fixe Ablöse [€]</th>
          <th>Nat.</th>
        </tr>
      </thead>
      <tbody>
        <!---Data and tags are dynamically generated--->
      </tbody>
      <tfoot>
        <tr>
          <th colspan="8" style="text-align:right">Summe:</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
