@model CornerkickWebMvc.Models.CupModel

@{
  ViewBag.Title = "Pokal";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<html style="height: 100%; min-height: 100%">
<head>
  <script type="text/javascript" src="~/Scripts/Scorer.js"></script>
  <script type="text/javascript" src="~/Scripts/League.js"></script>
  <script type="text/javascript" src="~/Scripts/Cup.js"></script>

  <script>
    $(document).ready(function () {
      changeLand(1);
    });

    function setCup() {
      setCup2(1);
    }
  </script>
</head>

<body style="height: 100%; min-height: 100%">
  @{
    string sLand = "";
    if (Model.iLand >= 0 && Model.iLand < MvcApplication.ckcore.sLand.Length) {
      sLand = MvcApplication.ckcore.sLand[Model.iLand];
    }
  }
  <label>
    Land:
    @Html.DropDownListFor(m => m.iLand, Model.ddlLand, new { @class = "form-horizontal", @onchange = "changeLand(1, 0)", id = "ddlLandCup" })
  </label>

  <label style="margin-left: 10px">
    Spieltag:
    <select id="ddlMatchdayCup" onchange="setCup()"></select>
  </label>

  <div id="tableDivCupTeams"></div>

  <div id="divCupScorer" style="width: 40%; min-width: 350px; margin-right: 6%; height: auto; margin-top: 20px; float: left"></div>
</body>
</html>
