@model CornerkickWebMvc.Models.CupSilverModel

@{
  ViewBag.Title = "Silver Cup";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<html style="height: 100%; min-height: 100%">
<head>
  <link rel="stylesheet" href="~/Content/DataTables/css/jquery.dataTables.min.css" />
  <link rel="stylesheet" href="~/Content/mystyles.css" />
  <script type="text/javascript" src="~/Scripts/jquery-2.0.0.min.js"></script>
  <script type="text/javascript" src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
  <script type="text/javascript" src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="~/Scripts/Scorer.js"></script>
  <script type="text/javascript" src="~/Scripts/League.js"></script>
  <script type="text/javascript" src="~/Scripts/CupSilver.js"></script>

  <script>
    var dtCupSilverTable;

    $(document).ready(function () {
      var iMatchday = @Html.Raw(Json.Encode(Model.iMatchday));

      setMatchdayCupSilver();

      $("#ddlSeasonCupSilver").change(function () {
        setMatchdayCupSilver();
      });

      $("#ddlGroupsCupSilver").change(function () {
        setMatchdayCupSilver();
      });

      $("#ddlMatchdayCupSilver").change(function () {
        setMatchdayCupSilver();
      });
    });
  </script>
</head>

<body style="height: 100%; min-height: 100%">
  <div style="position: relative; width: 100%; height: 100%; min-height: 100%; margin-bottom: 20px; float: left">
    <label style="margin-right: 10px">
      Saison:
      @Html.DropDownListFor(m => m.iSeason, Model.ddlSeason, new { @class = "form-horizontal", id = "ddlSeasonCupSilver" })
    </label>

    <label style="margin-right: 10px">
      Spieltag:
      <a class="noselect" style="cursor: pointer" onclick="changeMatchday(-1, document.getElementById('ddlMatchdayCupSilver'), setMatchdayCupSilver)">&nbsp;< &nbsp;</a>
      @Html.DropDownListFor(m => m.iMatchday, Model.ddlMatchday, new { @class = "form-horizontal", id = "ddlMatchdayCupSilver" })
      <a class="noselect" style="cursor: pointer" onclick="changeMatchday(+1, document.getElementById('ddlMatchdayCupSilver'), setMatchdayCupSilver)">&nbsp;> &nbsp;</a>
    </label>

    <label id="lbGroupsCupSilver">
      Gruppe:
      @Html.DropDownListFor(m => m.iGroup, Model.ddlGroup, new { @class = "form-horizontal", id = "ddlGroupsCupSilver" })
    </label>

    <div style="position: relative; width: 100%; height: auto; margin-bottom: 20px">
      <div id="divCupSilverTeams" style="position: relative; width: 47%; min-width: 350px; margin-right: 6%; margin-bottom: 20px; float: left"></div>
      <div id="divCupSilverTable" style="position: relative; width: 47%; min-width: 350px; float: left">
        <h4>Tabelle</h4>
      </div>
    </div>

    <div id="divCupSilverScorer" style="width: 40%; min-width: 350px; height: auto; float: left"></div>
  </div>
</body>
</html>
