@model CornerkickWebMvc.Models.CupSilverModel

@{
  ViewBag.Title = "Silver Cup";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<html style="height: 100%; min-height: 100%">
<head>
  <script type="text/javascript" src="~/Scripts/jquery-2.0.0.min.js"></script>
  <script type="text/javascript" src="~/Scripts/Scorer.js"></script>
  <script type="text/javascript" src="~/Scripts/League.js"></script>
  <script type="text/javascript" src="~/Scripts/CupSilver.js"></script>

  <script>
    $(document).ready(function () {
      var iMatchday = @Html.Raw(Json.Encode(Model.iMatchday));

      setMatchdayCupSilver(-1, iMatchday, 0);

      $("#ddlSeasonCupSilver").change(function () {
        setMatchdayCupSilver($(this).val(), $("#ddlMatchdayCupSilver").val(), $("#ddlGroupsCupSilver").val());
      });

      $("#ddlGroupsCupSilver").change(function () {
        setMatchdayCupSilver($("#ddlSeasonCupSilver").val(), $("#ddlMatchdayCupSilver").val(), $(this).val());
      });

      $("#ddlMatchdayCupSilver").change(function () {
        setMatchdayCupSilver($("#ddlSeasonCupSilver").val(), $(this).val(), $("#ddlGroupsCupSilver").val());
      });
    });
  </script>
</head>

<body style="height: 100%; min-height: 100%">
  <label style="margin-right: 10px">
    Saison:
    @Html.DropDownListFor(m => m.iSeason, Model.ddlSeason, new { @class = "form-horizontal", id = "ddlSeasonCupSilver" })
  </label>

  <label style="margin-right: 10px">
    Spieltag:
    @Html.DropDownListFor(m => m.iMatchday, Model.ddlMatchday, new { @class = "form-horizontal", id = "ddlMatchdayCupSilver" })
  </label>

  <label id="lbGroupsCupSilver">
    Gruppe:
    @Html.DropDownListFor(m => m.iGroup, Model.ddlGroup, new { @class = "form-horizontal", id = "ddlGroupsCupSilver" })
  </label>

  <div id="tableDivCupSilverTeams"></div>
  <div id="divCupSilverTable" style="position: relative; width: 100%"></div>

  <div id="divCupSilverScorer" style="width: 40%; min-width: 350px; margin-right: 6%; height: auto; margin-top: 20px; float: left"></div>
</body>
</html>
