@model CornerkickWebMvc.Models.CupWcModel

@{
  ViewBag.Title = "WM";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<html style="height: 100%; min-height: 100%">
<head>
  <script type="text/javascript" src="~/Scripts/Scorer.js"></script>
  <script type="text/javascript" src="~/Scripts/League.js"></script>
  <script type="text/javascript" src="~/Scripts/CupWc.js"></script>

  <script>
    $(document).ready(function () {
      var iMatchday = @Html.Raw(Json.Encode(Model.iMatchday));
      setMatchday(iMatchday, 0);

      $("#iGroup").change(function () {
        setMatchday($("#ddlMatchdayCupWc").val(), $(this).val());
      });

      $("#ddlMatchdayCupWc").change(function () {
        setMatchday($(this).val(), $("#iGroup").val());
      });
    });
  </script>
</head>

<body style="height: 100%; min-height: 100%">
  <label style="margin-left: 10px">
    Gruppe:
    @Html.DropDownListFor(m => m.iGroup, Model.ddlGroup, new { @class = "form-horizontal" })
  </label>

  <label style="margin-left: 10px">
    Spieltag:
    @Html.DropDownListFor(m => m.iMatchday, Model.ddlMatchday, new { @class = "form-horizontal", id = "ddlMatchdayCupWc" })
  </label>

  <div id="divCupWcTeams"></div>
  <div id="divCupWcTable" style="position: relative; width: 100%"></div>

  <div id="divCupWcScorer" style="width: 40%; min-width: 350px; margin-right: 6%; height: auto; margin-top: 20px; float: left"></div>
</body>
</html>

