@model CornerkickWebMvc.Models.DeskModel

@{
    ViewBag.Title = "Desk";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Schreibtisch</h2>

<h4>News</h4>
@Html.TextArea("News", Model.sNews, 10, 1000, new { @class = "form-control" })
