@model CornerkickWebMvc.Models.JouthModel

@{
  ViewBag.Title = "Jouth";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
  <link rel="stylesheet" href="~/Content/DataTables/css/jquery.dataTables.min.css" />
  <link rel="stylesheet" href="~/Content/DataTables/css/rowReorder.dataTables.min.css" />
  <link rel="stylesheet" href="~/Content/DataTables/css/responsive.dataTables.min.css" />
  <script type="text/javascript" src="~/Scripts/jQuery-1.12.4.js"></script>
  <script type="text/javascript" src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="~/Scripts/DataTables/dataTables.rowReorder.min.js"></script>
  <script type="text/javascript" src="~/Scripts/Player.js"></script>

  <script type="text/javascript">
    $(document).ready(function () {
      $('#tableJouth').DataTable({
        "ajax": {
          "url": '@Url.Action("JouthGetDatatable", "Member")',
          "type": 'GET',
          "dataType": "JSON",
          "cache": false,
          "contentType": "application/json; charset=utf-8"
        },
        "columns": [
          { "data": "iId" },
          { "data": "fAge" },
          {
            "data": "sName",
            "render": function (data, type, row) {
              return '@Html.ActionLink("name", "PlayerDetails", "Member", new { i = "id" }, new { target = "" })'.replace("name", data).replace("id", row.iId);
            }
          },
          {
            "data": "fAge",
            "className": "dt-center",
            "render": function (fAge, type, row) {
              return parseInt(fAge).toString();
            }
          },
          { "data": "sPos" },
          {
            "data": "fSkillAve",
            "className": "dt-center",
            "render": $.fn.dataTable.render.number(',', '.', 1, '')
          },
          { "data": "iTalent" },
          {
            "data": "sNat",
            "className": "dt-center",
            "render": function (sNat, type, row) {
              return getNatIcon(sNat);
            }
          }
        ],
        "pageLength": 50,
        "paging": false,
        "info": false,
        "responsive": true,
        "searching": false,
        "language": {
          "emptyTable": "Keine Jugendspieler"
        },
        "order": [[3, "desc"]],
        "columnDefs": [
          {
            "targets": 0,
            "visible": false,
            "searchable": false
          },
          { "targets": [2, 3, 4, 5, 6], "className": "dt-center" },
          {
            "targets": 1,
            "className": "dt-center",
            "orderable": false,
            "render": function (fAge, type, row) {
              if (fAge > 17) {
                return "A";
              } else if (fAge > 15) {
                return "B";
              } else if (fAge > 13) {
                return "C";
              } else if (fAge > 11) {
                return "D";
              } else {
                return "E";
              }
            }
          },
          {
            "targets": 3,
            "className": "dt-center",
            "render": function (fAge, type, row) {
              return parseInt(fAge).toString();
            }
          },
          {
            "targets": 7,
            "render": function (sNat, type, row) {
              return getNatIcon(sNat);
            }
          }
        ],
        "fnRowCallback": function (nRow, aData, iRowIx) {
          var clFt = "black";
          var clBg = "yellow";

          if (aData.fAge > 17) {
            clBg = "LightGrey";
          } else if (aData.fAge > 15) {
            clBg = "PowderBlue";
          } else if (aData.fAge > 13) {
            clBg = "Yellow";
          } else if (aData.fAge > 11) {
            clBg = "PaleGreen";
          } else {
            clBg = "pink";
          }

          $('td', nRow).eq(0).css({ "color": clFt, "background-color": clBg, "font-weight": "bold" });
        }
      });
    });
  </script>
</head>

<h3>Jugendspieler</h3>

<table id="tableJouth" cellspacing="0" style="width: auto" class="display responsive nowrap">
  <thead>
    <tr>
      <th>ID</th>
      <th>Kl.</th>
      <th>Name</th>
      <th>Alter</th>
      <th>Position</th>
      <th>Stärke</th>
      <th>Talent</th>
      <th>Nat.</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
