@model CornerkickWebMvc.Models.LeagueModels

@{
  ViewBag.Title = "Liga";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<html style="height: 100%; min-height: 100%">
<head>
  <link rel="stylesheet" href="~/Content/DataTables/css/jquery.dataTables.min.css" />
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="~/Content/mystyles.css" />
  <script type="text/javascript" src="~/Scripts/jquery-2.0.0.min.js"></script>
  <script type="text/javascript" src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
  <script type="text/javascript" src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="~/Scripts/canvasjs.min.js"></script>
  <script type="text/javascript" src="~/Scripts/Scorer.js"></script>
  <script type="text/javascript" src="~/Scripts/League.js"></script>
  <script type="text/javascript" src="~/Scripts/Formation.js"></script>
  <script type="text/javascript" src="~/Scripts/Player.js"></script>

  <script>
    var oTableLeague;
    var oTableScorer;

    $(document).ready(function () {
      iniLeague();

      // Radio-buttons league
      $("#rbTableTotal").on('change', function (ev) {
        setLeague2();
      });

      $("#rbTableH").on('change', function (ev) {
        setLeague2();
      });

      $("#rbTableA").on('change', function (ev) {
        setLeague2();
      });

      drawMatchdayTeam();
    });

    function plotLeaguePlaceGraph(iSeason) {
      var fLigaMax = @Html.Raw(Json.Encode(Model.iLeagueSize));
      fLigaMax = fLigaMax + 0.1;

      $.ajax({
        type: 'post',
        url: '/Member/GetLeaguePlaceHistory',
        dataType: "json",
        data: { iSeason: iSeason },
        success: function (ltPlace) {
          var chart = new CanvasJS.Chart("chartContainerPlaceHist", {
            animationEnabled: true,
            theme: "theme2",//theme1
            axisX: {
              labelFontSize: 16,
              lineThickness: 0,
              gridThickness: 1,
              interval: 1,
              minimum: 0.9
            },
            axisY: {
              labelFontSize: 16,
              interval: 1,
              minimum: 0.9,
              maximum: fLigaMax,
              reversed: true
            },
            /*legend: {
              horizontalAlign: "center", // left, center ,right
              verticalAlign: "bottom",  // top, center, bottom
              dockInsidePlotArea: true
            },*/
            data: [
              {
                // Change type to "bar", "splineArea", "area", "spline", "pie",etc.
                type: "line",
                showInLegend: false,
                legendText: "Tabellenplatz",
                dataPoints: ltPlace
              }
            ]
          });

          chart.render();
        }
      });
    }

    function drawMatchdayTeam() {
      var ddlLand = document.getElementById("ddlLand");
      var ddlDivision = document.getElementById("ddlDivision");

      $.ajax({
        cache: false,
        url: "/Member/GetMatchdayTeam",
        type: "GET",
        data: { iCupId: 1, iLand: ddlLand.value, iDiv: ddlDivision.value },
        success: function (teamData) {
          if (teamData) { // check if data is defined
            //var bMobile = $(window).width() < 960;
            var result = "";
            var divMatchdayTeam = $("#divMatchdayTeam");

            $.each(teamData.ltPlayer2, function (i, pl2) {
              if (pl2) {
                result += getBoxFormation(i, teamData.formation.ptPos[i], pl2.sName, (i + 1).toString(), pl2.sSkillAve, false, false, -1, pl2.iPos, true, 0.5, pl2.sTeamname, pl2.sAge, pl2.sNat, false, false, pl2.sPortrait);
              }

              return i !== 11;
            });

            divMatchdayTeam.html(result).fadeIn('slow');

            //var txtStatAverage = $("#txtStatAverage");
            //txtStatAverage.html("Durchschnittsstärke (-alter): " + teamData.fTeamAveStrength.toFixed(2) + " (" + teamData.fTeamAveAge.toFixed(1) + ")");
          } else {
            alert("data hasn't worked!");
          }
        }
      });
    }
  </script>
</head>

<body style="height: 100%; min-height: 100%">
  <div style="position: relative; width: 100%; height: 100%; min-height: 100%">
    <div style="position: relative; width: 100%">
      <label style="margin-right: 10px">
        Saison:
        @Html.DropDownListFor(m => m.iSeason, Model.ddlSeason, new { @class = "form-horizontal", @onchange = "iniLeague()", id = "ddlSeason" })
      </label>

      <label style="margin-right: 10px">
        Land:
        @Html.DropDownListFor(m => m.iLand, Model.ddlLand, new { @class = "form-horizontal", @onchange = "iniLeague()", id = "ddlLand" })
      </label>

      <label style="margin-right: 10px">
        Liga:
        @Html.DropDownListFor(m => m.iDivision, Model.ddlDivision, new { @class = "form-horizontal", @onchange = "iniLeague()", id = "ddlDivision" })
      </label>

      <label>
        Spieltag:
        <a class="noselect" style="cursor: pointer" onclick="changeMatchday(-1, document.getElementById('ddlMatchday'), setLeague2)">&nbsp;< &nbsp;</a>
        <select id="ddlMatchday" onchange="setLeague2()"></select>
        <a class="noselect" style="cursor: pointer" onclick="changeMatchday(+1, document.getElementById('ddlMatchday'), setLeague2)">&nbsp;> &nbsp;</a>
      </label>
    </div>

    <div style="position: relative; width: 47%; min-width: 350px; margin-right: 6%; margin-bottom: 40px; float: left">
      <div style="position: relative; width: 100%; margin-bottom: 40px">
        <div id="tableDivTeams" style="position: relative"></div>
      </div>

      <div style="position: relative; width: 100%">
        <h4>Tabelle</h4>
        <div style="position: absolute; width: 250px; top: 10px; right: 0px; text-align: right">
          <form>
            <fieldset>
              <label style="font-size:100%; color: black; margin-right: 4%">
                <input type="radio" id="rbTableTotal" name="rbTableHA" value="0" checked>
                Gesamt
              </label>
              <label style="font-size:100%; color: black; margin-right: 4%">
                <input type="radio" id="rbTableH" name="rbTableHA" value="1">
                Heim
              </label>
              <label style="font-size:100%; color: black; margin-right: 4%">
                <input type="radio" id="rbTableA" name="rbTableHA" value="2">
                Auswärts
              </label>
            </fieldset>
          </form>
        </div>

        <div id="divTableLeague" style="position: relative; width: 100%"></div>
      </div>
    </div>

    <div style="position: relative; width: 47%; min-width: 350px; margin-bottom: 40px; float: left">
      <h4>Tabellenplatzentwicklung</h4>
      <div id="chartContainerPlaceHist" style="height: 400px; width: 100%"></div>
    </div>

    <div class="image" id="divFieldContainer" style="position: relative; width: 47%; min-width: 350px; margin-bottom: 40px; float: left">
      <h4>Elf des Spieltages</h4>
      <div class="image" id="divFieldContainer" style="position: relative; width: 100%">
        <img style="position: relative; width: 100%" src="~/Content/Images/stadium/field.png" />
        <div style="position: absolute; margin-left: 5%; width: 90%; height: 94%; top: 0px; left: 0%">
          <div id="divMatchdayTeam" style="position: absolute; width: 100%; height: 100%; top: 0%; left: 0%"></div>
        </div>

        <b id="average" style="position: absolute; bottom: 0%; left: 0%; width: 100%; text-align:center; font-size:130%; color:white"></b>
      </div>
    </div>

    <div id="divLeagueScorer" style="position: relative; width: 47%; min-width: 350px; margin-bottom: 40px; float: left"></div>
  </div>
</body>
</html>
