@model CornerkickWebMvc.Models.LeagueModels

@{
  ViewBag.Title = "Liga";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<html style="height: 100%; min-height: 100%">
<head>
  <script type="text/javascript" src="~/Scripts/jquery-2.0.0.min.js"></script>
  <script type="text/javascript" src="~/Scripts/canvasjs.min.js"></script>
  <script type="text/javascript" src="~/Scripts/Scorer.js"></script>
  <script type="text/javascript" src="~/Scripts/League.js"></script>

  <script>
    $(document).ready(function () {
      changeLand(0);

      // Radio-buttons league
      $("#rbTableTotal").on('change', function (ev) {
        setLeague2(0);
      });

      $("#rbTableH").on('change', function (ev) {
        setLeague2(0);
      });

      $("#rbTableA").on('change', function (ev) {
        setLeague2(0);
      });
    });

    function plotLeaguePlaceGraph(iSeason) {
      var fLigaMax = @Html.Raw(Json.Encode(Model.iLeagueSize));
      fLigaMax = fLigaMax + 0.1;

      $.ajax({
        type: 'post',
        url: '/Member/GetLeaguePlaceHistory',
        dataType: "json",
        data: { iSeason: iSeason },
        success: function (ltPlace) {
          var chart = new CanvasJS.Chart("chartContainerPlaceHist", {
            animationEnabled: true,
            theme: "theme2",//theme1
            axisX: {
              labelFontSize: 16,
              lineThickness: 0,
              gridThickness: 1,
              interval: 1,
              minimum: 0.9
            },
            axisY: {
              labelFontSize: 16,
              interval: 1,
              minimum: 0.9,
              maximum: fLigaMax,
              reversed: true
            },
            /*legend: {
              horizontalAlign: "center", // left, center ,right
              verticalAlign: "bottom",  // top, center, bottom
              dockInsidePlotArea: true
            },*/
            data: [
              {
                // Change type to "bar", "splineArea", "area", "spline", "pie",etc.
                type: "line",
                showInLegend: false,
                legendText: "Tabellenplatz",
                dataPoints: ltPlace
              }
            ]
          });

          chart.render();
        }
      });
    }
  </script>
</head>

<body style="height: 100%; min-height: 100%">
  @{
    var sLand = "";
    if (Model.iLand >= 0 && Model.iLand < MvcApplication.ckcore.sLand.Length) {
      sLand = MvcApplication.ckcore.sLand[Model.iLand];
    }
    var sLiga = (Model.iSpKl + 1).ToString();
  }

  <div style="position: relative; width: 100%; height: 100%; min-height: 100%; margin-bottom: 20px; float: left">
    <label>
      Saison:
      @Html.DropDownListFor(m => m.iSeason, Model.ddlSeason, new { @class = "form-horizontal", @onchange = "changeLand(0)", id = "ddlSeason" })
    </label>

    <label style="margin-left: 10px">
      Land:
      @Html.DropDownListFor(m => m.iLand, Model.ddlLand, new { @class = "form-horizontal", @onchange = "changeLand(0)", id = "ddlLand" })
    </label>

    <label style="margin-left: 10px">
      Spieltag:
      <select id="ddlMatchday" onchange="setLeague2(0)"></select>
    </label>

    <div style="position: relative; width: 100%; height: auto; margin-bottom: 4%">
      <div style="position: relative; width: 47%; min-width: 350px; margin-right: 6%; margin-bottom: 20px; float: left">
        <div id="tableDivTeams" style="position: relative"></div>
      </div>

      <div style="position: relative; width: 47%; min-width: 350px; float: left">
        <h4>Tabelle</h4>
        <div style="position: absolute; width: 250px; top: 10px; right: 0px; text-align: right">
          <form>
            <fieldset>
              <label style="font-size:100%; color: black; margin-right: 4%">
                <input type="radio" id="rbTableTotal" name="rbTableHA" value="0" checked>
                Gesamt
              </label>
              <label style="font-size:100%; color: black; margin-right: 4%">
                <input type="radio" id="rbTableH" name="rbTableHA" value="1">
                Heim
              </label>
              <label style="font-size:100%; color: black; margin-right: 4%">
                <input type="radio" id="rbTableA" name="rbTableHA" value="2">
                Auswärts
              </label>
            </fieldset>
          </form>
        </div>
        <div id="tableDivLeague" style="position: relative; width: 100%"></div>
      </div>
    </div>

    <div style="height: auto; width: 54%; min-width: 350px; margin-top: 20px; float: right">
      <h4>Tabellenplatzentwicklung</h4>
      <div id="chartContainerPlaceHist" style="height: 400px; width: 100%"></div>
    </div>

    <div id="divLeagueScorer" style="width: 40%; min-width: 350px; margin-right: 6%; height: auto; margin-top: 20px; float: left"></div>
  </div>
</body>
</html>
