@model CornerkickWebMvc.Models.UserModel

@{
  ViewBag.Title = "Mail";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
  <link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
  <link href="~/Content/DataTables/css/rowReorder.dataTables.min.css" rel="stylesheet" />
  <link href="~/Content/DataTables/css/responsive.dataTables.min.css" rel="stylesheet" />
  <script src="~/Scripts/jQuery-1.12.4.js" type="text/javascript"></script>
  <script src="~/Scripts/DataTables/jquery.dataTables.min.js" type="text/javascript"></script>
  <script src="~/Scripts/DataTables/dataTables.rowReorder.min.js" type="text/javascript"></script>

  <script type="text/javascript">
    $(document).ready(function () {
      bnSend = document.getElementById("bnSend");
      bnSend.disabled = true;

      bnReply = document.getElementById("bnReply");
      bnReply.disabled = true;

      bnDelete = document.getElementById("bnDelete");
      bnDelete.disabled = true;

      tbNewMail = document.getElementById("tbNewMail");
      //tbNewMail.readOnly = "true";

      var tblMail = $('#tblMail').DataTable({
        "ajax": {
          "url": '@Url.Action("MailGetList", "Member")',
          "type": 'GET',
          "dataType": "JSON",
          "cache": false,
          "contentType": "application/json; charset=utf-8"
        },
        "pageLength": 50,
        "paging": false,
        "info": false,
        "language": {
          "emptyTable": "Keine Mails"
        },
        "responsive": true,
        "searching": false,
        "order": [[1, "desc"]],
        "columns": [
          { "data": "iIndex" },
          { "data": "sFromId" },
          { "data": "sDt" },
          { "data": "sFrom" },
          { "data": "sFirstLine" },
          { "data": "sText" },
          { "data": "bNew" }
        ],
        "columnDefs": [
          {
            "targets": [0, 1, 5, 6],
            "visible": false,
            "searchable": false
          }
        ],
        "fnRowCallback": function (nRow, aData, iDisplayIndex) {
          if (aData.bNew) {
            $('td', nRow).css('font-weight', "bold");
          }
        }

      });

      $('#tblMail tbody').on('click', 'tr', function () {
        if ($(this).hasClass('selected')) {
          $(this).removeClass('selected');
          tbNewMail.value = "";
          bnReply.disabled = true;
          bnDelete.disabled = true;
        } else {
          tblMail.$('tr.selected').removeClass('selected');
          $(this).addClass('selected');

          var data = tblMail.row('.selected').data();
          if (data) {
            tbNewMail.value = data.sText;

            if (data.sFromId) {
              bnReply.disabled = false;
              bnDelete.disabled = false;
            }

            $.ajax({
              type: 'post',
              url: '/Member/MailMarkRead',
              dataType: "json",
              data: { sDate: data.sDt, sFrom: data.sFromId },
              success: function () {
                tblMail.ajax.reload();
              }
            });
          }
        }
      });

      $("#bnReply").click(function () {
        var data = tblMail.row('.selected').data();

        if (data) {
          if (data.sFrom) {
            var ddlUser = document.getElementById('ddlUser');
            for (var i = 0; i < ddlUser.options.length; i++) {
              if (ddlUser.options[i].text === data.sFrom) {
                ddlUser.selectedIndex = i;
                break;
              }
            }

            tbNewMail.value = "\n\n";
            tbNewMail.value += "-------------------------------------------------------------------------------------\n";
            tbNewMail.value += " " + data.sDt + " - Von: " + data.sFrom + "\n";
            tbNewMail.value += "-------------------------------------------------------------------------------------\n";
            tbNewMail.value += data.sText;

            //tbNewMail.readOnly = "false";
            tbNewMail.focus();
            tbNewMail.selectionEnd = 0;

            bnSend.disabled = false;
          }
        }
      });

      $("#bnSend").click(function () {
        var iTo = $('#ddlUser').val();

        if (iTo >= 0) {
          tbNewMail = document.getElementById("tbNewMail");

          $.ajax({
            type: 'post',
            url: '/Member/MailSend',
            dataType: "json",
            data: { iTo: iTo, sText: tbNewMail.value },
            success: function (sReturn) {
              alert(sReturn);
              tbNewMail.value = "";
              bnSend.disabled = true;
              //window.location.reload(true);
            }
          });
        }
      });

      $("#bnDelete").click(function () {
        var data = tblMail.row('.selected').data();

        if (data) {
          if (data.iIndex >= 0) {
            $.ajax({
              type: 'post',
              url: '/Member/MailDeleteTxt',
              dataType: "json",
              data: { sDate: data.sDt, sFrom: data.sFromId },
              success: function () {
                /*
                tblMail.ajax.reload();
                tbNewMail.value = "";
                bnSend.disabled = true;
                bnReply.disabled = true;
                bnDelete.disabled = true;
                */
              }
            });
          }
        }
      });
    }); // document.ready

    function ddlMailToChanged() {
      var bnSend = document.getElementById("bnSend");
      var tbNewMail = document.getElementById("tbNewMail");

      bnSend.disabled = $('#ddlUser').val() < 0;

      tbNewMail.focus();
      tbNewMail.selectionEnd = 0;
    }
  </script>
</head>

<h2>Postfach</h2>
<table id="tblMail" cellspacing="0" style="width: auto; max-width: 100%; left: 0px" class="display responsive nowrap">
  <thead>
    <tr>
      <th>#</th>
      <th>iFrom</th>
      <th>Datum</th>
      <th>Von</th>
      <th>Nachricht</th>
      <th>sText</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<div style="position: relative; width: 100%; margin-top: 6px">
  <button type="submit" id="bnReply" class="btn btn-default" style="width: 49%">antworten</button>
  <button type="submit" id="bnDelete" class="btn btn-default" style="width: 49%">löschen</button>
</div>


<div style="margin-top: 10px">
  <b class="left">An:</b>
  @Html.DropDownListFor(m => m.sMailTo, Model.ltDdlUser, new { @class = "form-control", id = "ddlUser", @onchange = "ddlMailToChanged()" })
  Max. 128 Zeichen
  <div class="form-group">
    <textarea id="tbNewMail" rows='10' style="position: relative; width: 100%; max-width: 100%"></textarea>
  </div>
  <button type="submit" id="bnSend" class="btn btn-default" style="width: 100%">abschicken</button>
</div>
