@model CornerkickWebMvc.Models.StadiumSurroundingsModel

@{
  ViewBag.Title = "Stadionumgebung";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
<!doctype html>
<html lang="en">
<head>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <style>
    .ui-widget-header {
      background: lime;
    }
    .ui-progressbar {
      position: relative;
      height: 14px;
      display: none;
    }
    .progress-label {
      position: absolute;
      left: 50%;
      top: -4px;
      text-shadow: 1px 1px 0 #fff;
    }
  </style>

  <script type="text/javascript">
    $(document).ready(function () {
      var pbTrGel = $("#pbTrGel");
      var plTrGel = $("#plTrGel");
      pbTrGel.progressbar({
        value: false,
        change: function () {
          plTrGel.text(pbTrGel.progressbar("value") + "%");
        }
      });

      var pbJouth = $("#pbJouth");
      var plJouth = $("#plJouth");
      pbJouth.progressbar({
        value: false,
        change: function () {
          plJouth.text(pbJouth.progressbar("value") + "%");
        }
      });
      var pbCarpark = $("#pbCarpark");
      var plCarpark = $("#plCarpark");
      pbCarpark.progressbar({
        value: false,
        change: function () {
          plCarpark.text(pbCarpark.progressbar("value") + "%");
        }
      });
      var pbCounter = $("#pbCounter");
      var plCounter = $("#plCounter");
      pbCounter.progressbar({
        value: false,
        change: function () {
          plCounter.text(pbCounter.progressbar("value") + "%");
        }
      });

      setImage();
      getCurrent();
      getTrGel();
      getJouthInt();

      $("#bnBuildTrGel").click(function () {
        buildTrGel();
      });

      $("#bnBuildJouthInt").click(function () {
        buildJouthInt();
      });

      $("#tbCarpark").on('keyup', function (ev) {
        getPark();
      });

      $("#bnBuildCarpark").click(function () {
        buildPark();
      });

      $("#tbCounter").on('keyup', function (ev) {
        getCounter();
      });

      $("#bnBuildCounter").click(function () {
        buildCounter();
      });
    });

    function setImage() {
      $.ajax({
        url: '/Member/StadiumGetTopring',
        type: "post",
        dataType: "JSON",
        success: function (bTopring) {
          if (bTopring) {
            document.getElementById("imgStadium").src = "/Content/Images/stadium/stadion_L.jpg";
          } else {
            document.getElementById("imgStadium").src = "/Content/Images/stadium/stadion_S.png";
          }
        }
      });
    }

    function getCurrent() {
      $.ajax({
        type: 'post',
        url: '/Member/StadiumGetSurrGetCurrent',
        dataType: "json",
        success: function (sCurrent) {
          $("#txtTrGel").text("Aktuell: " + sCurrent[0][0]);
          if (sCurrent[0][2] != "0") {
            $("#txtTrGelNew").text("Ausbau zu: " + sCurrent[0][1] + " (noch " + sCurrent[0][2] + "d)");
            $("#pbTrGel").progressbar("value", parseFloat(sCurrent[0][3].replace("%", "").replace(",", ".")));
            $("#pbTrGel").css("display", "block");
            $("#tbTrGel").css("display", "none");
            $("#bnBuildTrGel").css("display", "none");
          }

          $("#txtJouthInt").text("Aktuell: " + sCurrent[1][0]);
          if (sCurrent[1][2] != "0") {
            $("#txtJouthIntNew").text("Ausbau zu: " + sCurrent[1][1] + " (noch " + sCurrent[1][2] + "d)");
            $("#pbJouth").progressbar("value", parseFloat(sCurrent[1][3].replace("%", "").replace(",", ".")));
            $("#pbJouth").css("display", "block");
            $("#tbJouth").css("display", "none");
            $("#bnBuildJouth").css("display", "none");
          }

          $("#txtPark").text("Parkplätze - Aktuell: " + sCurrent[2][0]);
          if (sCurrent[2][2] != "0") {
            $("#txtParkNew").text("Ausbau zu: " + sCurrent[2][1] + " (noch " + sCurrent[2][2] + "d)");
            $("#pbCarpark").progressbar("value", parseFloat(sCurrent[2][3].replace("%", "").replace(",", ".")));
            $("#pbCarpark").css("display", "block");
            $("#tbCarpark").css("display", "none");
            $("#bnBuildCarpark").css("display", "none");
          }

          $("#txtCounter").text("Ticketschalter - Aktuell: " + sCurrent[3][0]);
          if (sCurrent[3][2] != "0") {
            $("#txtCounterNew").text("Ausbau zu: " + sCurrent[3][1] + " (noch " + sCurrent[3][2] + "d)");
            $("#pbCounter").progressbar("value", parseFloat(sCurrent[3][3].replace("%", "").replace(",", ".")));
            $("#pbCounter").css("display", "block");
            $("#tbCounter").css("display", "none");
            $("#bnBuildCounter").css("display", "none");
          }
        }
      });
    }

    function getTrGel() {
      bnBuildTrGel = document.getElementById("bnBuildTrGel");
      bnBuildTrGel.disabled = true;

      var iTrGel = $('#iDdlTrGel').val();
      $.ajax({
        type: 'post',
        url: '/Member/StadiumGetCostSurr',
        dataType: "json",
        data: { i: iTrGel, iType: 0 },
        success: function (sCostDaysDispo) {
          $("#bnBuildTrGel").text("Kosten: " + sCostDaysDispo[0] + " €, Dauer: " + sCostDaysDispo[1] + " Tage");
          if (sCostDaysDispo[1] == "0" || sCostDaysDispo[1] == "" || sCostDaysDispo[2] == "0") {
            bnBuildTrGel.disabled = true;
          } else {
            bnBuildTrGel.disabled = false;
          }
        }
      });
    }

    function getJouthInt() {
      bnBuildJouthInt = document.getElementById("bnBuildJouthInt");
      bnBuildJouthInt.disabled = true;

      var iJI = $('#iDdlJouthInt').val();
      $.ajax({
        type: 'post',
        url: '/Member/StadiumGetCostSurr',
        dataType: "json",
        data: { i: iJI, iType: 1 },
        success: function (sCostDaysDispo) {
          $("#bnBuildJouthInt").text("Kosten: " + sCostDaysDispo[0] + " €, Dauer: " + sCostDaysDispo[1] + " Tage");
          if (sCostDaysDispo[1] == "0" || sCostDaysDispo[1] == "" || sCostDaysDispo[2] == "0") {
            bnBuildJouthInt.disabled = true;
          } else {
            bnBuildJouthInt.disabled = false;
          }
        }
      });
    }

    function getPark() {
      bnBuildCarpark = document.getElementById("bnBuildCarpark");
      bnBuildCarpark.disabled = true;

      var iPark = $('#tbCarpark').val();
      $.ajax({
        type: 'post',
        url: '/Member/StadiumGetCostSurr',
        dataType: "json",
        data: { i: iPark, iType: 2 },
        success: function (sCostDaysDispo) {
          $("#bnBuildCarpark").text("Kosten: " + sCostDaysDispo[0] + " €, Dauer: " + sCostDaysDispo[1] + " Tage");
          if (sCostDaysDispo[1] == "0" || sCostDaysDispo[1] == "" || sCostDaysDispo[2] == "0") {
            bnBuildCarpark.disabled = true;
          } else {
            bnBuildCarpark.disabled = false;
          }
        }
      });
    }

    function getCounter() {
      bnBuild = document.getElementById("bnBuildCounter");
      bnBuild.disabled = true;

      var iCount = $('#tbCounter').val();
      $.ajax({
        type: 'post',
        url: '/Member/StadiumGetCostSurr',
        dataType: "json",
        data: { i: iCount, iType: 3 },
        success: function (sCostDaysDispo) {
          $("#bnBuildCounter").text("Kosten: " + sCostDaysDispo[0] + " €, Dauer: " + sCostDaysDispo[1] + " Tage");
          if (sCostDaysDispo[1] == "0" || sCostDaysDispo[1] == "" || sCostDaysDispo[2] == "0") {
            bnBuild.disabled = true;
          } else {
            bnBuild.disabled = false;
          }
        }
      });
    }

    function buildTrGel() {
      var iTG = $('#iDdlTrGel').val();
      $.ajax({
        type: 'post',
        url: '/Member/StadiumBuildTrGel',
        dataType: "json",
        data: { iTrGel: iTG },
        success: function (sMessage) {
          alert(sMessage);
          window.location.reload(true);
        }
      });
    }

    function buildJouthInt() {
      var iInt = $('#iDdlJouthInt').val();
      $.ajax({
        type: 'post',
        url: '/Member/StadiumBuildJouthInt',
        dataType: "json",
        data: { iInt: iInt },
        success: function (sMessage) {
          alert(sMessage);
          window.location.reload(true);
        }
      });
    }

    function buildPark() {
      var iPark = $('#tbCarpark').val();
      $.ajax({
        type: 'post',
        url: '/Member/StadiumBuildPark',
        dataType: "json",
        data: { iCount: iPark },
        success: function (sMessage) {
          alert(sMessage);
          window.location.reload(true);
        }
      });
    }

    function buildCounter() {
      var iCount = $('#tbCounter').val();
      $.ajax({
        type: 'post',
        url: '/Member/StadiumBuildCounter',
        dataType: "json",
        data: { iCount: iCount },
        success: function (sMessage) {
          alert(sMessage);
          window.location.reload(true);
        }
      });
    }
  </script>
</head>

<body>
  <h2>Stadionumgebung</h2>
  <div style="position: relative; height: 700px">
    <div style="position: relative; float: left; width: 320px; height: 259px">
      <img style="position: absolute; top: 0px; left: 0px; width: 100%" src="~/Content/Images/stadium/stadium_surrounding.png" />

      <div style="position: absolute; top: 0px; left: 0px; height: 100%; width: 100%; padding: 28px; text-align: center">
        <text style="position: relative; width: 264px; font-size: 18px">Trainingsgelände</text>
        <p id="txtTrGel" style="position: relative; width: 264px; margin: 0; font-size: 18px"></p>
        <p id="txtTrGelNew" style="position: relative; width: 264px; margin: 0"></p>
        <div id="pbTrGel" style="position: relative; width: 264px"><div id="plTrGel" class="progress-label"></div></div>
        @Html.DropDownListFor(m => m.iTrainingsgel, Model.ddlTrainingsgel, new { @class = "form-control", @onchange = "getTrGel()", id = "iDdlTrGel", @style = "width: 264px; min-width: 264px" })
        <button type="submit" id="bnBuildTrGel" class="btn btn-default" style="width: 264px; float: left">Kosten: 0</button>
      </div>
    </div>

    <div style="position: relative; float: left; width: 320px; height: 259px">
      <img id="imgStadium" style="position: relative; top: 0px; left: 0px; width: 100%" src="~/Content/Images/stadium/stadion_S.jpg" alt="" />
    </div>

    <div style="position: relative; float: left; width: 320px; height: 259px">
      <img style="position: absolute; top: 0px; left: 0px; width: 100%" src="~/Content/Images/stadium/stadium_surrounding.png" />

      <div style="position: absolute; top: 0px; left: 0px; height: 100%; width: 100%; padding: 28px; text-align: center">
        <text style="position: relative; width: 264px; font-size: 18px">Jugendinternat</text>
        <p id="txtJouthInt" style="position: relative; width: 264px; margin: 0; font-size: 18px"></p>
        <p id="txtJouthIntNew" style="position: relative; width: 264px; margin: 0"></p>
        <div id="pbJouth" style="position: relative; width: 264px"><div id="plJouth" class="progress-label"></div></div>
        @Html.DropDownListFor(m => m.iJouthInternat, Model.ddlJouthInternat, new { @class = "form-control", @onchange = "getJouthInt()", id = "iDdlJouthInt", @style = "width: 264px; min-width: 264px" })
        <button type="submit" id="bnBuildJouthInt" class="btn btn-default" style="width: 264px; float: left">Kosten: 0</button>
      </div>
    </div>

    <div style="position: relative; float: left; width: 320px; height: 259px">
      <img style="position: absolute; top: 0px; left: 0px; width: 100%" src="~/Content/Images/stadium/stadium_surrounding.png" />

      <div style="position: absolute; top: 0px; left: 0px; height: 100%; width: 100%; padding: 28px; text-align: center">
        <text id="txtPark" style="position: relative; width: 264px; font-size: 18px"></text>
        <p id="txtParkNew" style="position: relative; width: 264px; margin: 0"></p>
        <div id="pbCarpark" style="position: relative; width: 264px"><div id="plCarpark" class="progress-label"></div></div>
        @Html.EditorFor(Model => Model.iCarpark, new { htmlAttributes = new { @class = "form-control", @type = "number", @style = "position: relative; width: 264px; min-width: 264px; text-align: right", id = "tbCarpark", autocomplete = "off", min = "0" } })
        <button type="submit" id="bnBuildCarpark" class="btn btn-default" style="width: 264px">Kosten: 0</button>
      </div>
    </div>

    <div style="position: relative; float: left; width: 320px; height: 259px">
      <img style="position: absolute; top: 0px; left: 0px; width: 100%" src="~/Content/Images/stadium/stadium_surrounding.png" />

      <div style="position: absolute; top: 0px; left: 0px; height: 100%; width: 100%; padding: 28px; text-align: center">
        <text id="txtCounter" style="position: relative; width: 264px; font-size: 18px"></text>
        <p id="txtCounterNew" style="position: relative; width: 264px; margin: 0"></p>
        <div id="pbCounter" style="position: relative; width: 264px"><div id="plCounter" class="progress-label"></div></div>
        @Html.EditorFor(Model => Model.iCounter, new { htmlAttributes = new { @class = "form-control", @type = "number", @style = "position: relative; width: 264px; min-width: 264px; text-align: right", id = "tbCounter", autocomplete = "off", min = "0" } })
        <button type="submit" id="bnBuildCounter" class="btn btn-default" style="width: 264px">Kosten: 0</button>
      </div>
    </div>
  </div>
</body>
</html>
