@model CornerkickWebMvc.Models.StadiumSurroundingsModel

@{
  ViewBag.Title = "Stadionumgebung";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
<!doctype html>
<html lang="en">
<head>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script type="text/javascript" src="~/Scripts/Numbers.js"></script>
  <style>
    .myPb {
      height: 14px;
      background-color: lime;
      text-align: center; /* To center it horizontally (if you want) */
      line-height: 14px; /* To center it vertically */
      color: black;
      text-shadow: 1px 1px 0 #DCDCDC;
      -webkit-border-radius: 3px;
    }
  </style>

  <script type="text/javascript">
    function getGround(building, ltBuildingsFree) {
      var div0 = document.createElement("div");
      div0.style.position = "relative";
      div0.style.float = "left";
      div0.style.width = "320px";
      div0.style.height = "259px";

      var img = document.createElement("img");
      img.className = "imgGround";
      img.style.position = "absolute";
      img.style.top = "0px";
      img.style.left = "0px";
      img.style.width = "100%";
      img.src = "/Content/Images/stadium/stadium_surrounding.png";
      div0.appendChild(img);

      var div1 = document.createElement("div");
      div1.style.position = "absolute";
      div1.style.top = "0px";
      div1.style.left = "0px";
      div1.style.width = "100%";
      div1.style.height = "100%";
      div1.style.padding = "28px";
      div1.style.textAlign = "center";

      if (building) {
        if (building.iLevel > 0 || building.nDaysConstruct > 0) {
          var bCategory = document.createElement("b");
          bCategory.innerText = building.sCategory;
          bCategory.style.position = "relative";
          bCategory.style.width = "100%";
          bCategory.style.left = "0px";
          bCategory.style.fontSize = "20px";
          div1.appendChild(bCategory);

          var pCurr = document.createElement("p");
          pCurr.innerText = "Akt.: " + building.sName;
          pCurr.style.position = "relative";
          pCurr.style.width = "100%";
          pCurr.style.left = "0px";
          pCurr.style.fontSize = "18px";
          div1.appendChild(pCurr);
        }

        if (building.iLevelReq > building.iLevel) {
          var imgWarning = document.createElement("image");
          imgWarning.style.position = "absolute";
          imgWarning.style.right = "20px";
          imgWarning.style.top = "20px";
          imgWarning.style.width = "30px";
          imgWarning.src = "/Content/Icons/attention.png";
          imgWarning.title = "Ihre Fans verlangen bei ausverkauftem Stadion min. " + building.iLevelReq.toString() + " " + building.sCategory;
          div1.appendChild(imgWarning);
        }

        if (building.nDaysConstruct > 0) {
          var pNext = document.createElement("p");
          pNext.innerHTML = "Ausbau zu: " + building.sNameNext + " (noch " + building.nDaysConstruct.toString() + " Tage)";
          pNext.style.position = "relative";
          pNext.style.width = "100%";
          pNext.style.left = "0px";
          pNext.style.fontSize = "16px";
          div1.appendChild(pNext);

          var divPb = document.createElement("div");
          divPb.style.position = "relative";
          divPb.style.top = "0px";
          divPb.style.left = "0px";
          divPb.style.width = "264px";
          divPb.style.backgroundColor = "white";
          divPb.style.webkitBorderRadius = "3px";
          var divPb1 = document.createElement("div");
          divPb1.className = "myPb";
          var fProgress = (100 * (building.nDaysConstructTotal - building.nDaysConstruct) / building.nDaysConstructTotal);
          divPb1.style.width = fProgress.toString() + '%';
          divPb1.innerHTML = fProgress.toFixed(1) + '%';
          divPb.appendChild(divPb1);
          div1.appendChild(divPb);
        } else { // No construction
          var btn = document.createElement("button");

          if (building.iType > 5) {
            div1.appendChild(getNumberInputDiv(btn, building));
          }

          btn.type = "submit";
          btn.className = "btn btn-default";
          btn.style.position = "relative";
          btn.style.width = "100%";
          btn.style.left = "0px";
          btn.style.height = "auto";
          btn.style.fontSize = "16px";
          setBuildingBtn(btn, building);
          btn.addEventListener("click", function () { buildBuilding(this); });
          if (building.bDispoOk == false) {
            btn.disabled = "disabled";
          }

          if (building.iLevel == 0) {
            var sct = document.createElement("select");
            sct.className = "form-control";
            sct.style.position = "relative";
            sct.style.width = "100%";
            sct.style.left = "0px";
            sct.style.height = "auto";
            sct.style.marginBottom = "4px";
            sct.style.fontSize = "16px";
            for (var iBdgFree = 0; iBdgFree < ltBuildingsFree.length; iBdgFree++) {
              var opt = document.createElement("option");
              opt.value = iBdgFree;
              opt.innerHTML = ltBuildingsFree[iBdgFree].sCategory;
              sct.appendChild(opt);
            }
            sct.addEventListener("change", function () {
              if (ltBuildingsFree[this.value].iType > 5) {
                div1.appendChild(getNumberInputDiv(btn, ltBuildingsFree[this.value]));
              }

              setBuildingBtn(btn, ltBuildingsFree[this.value]);
            });
            div1.appendChild(sct);
          }

          div1.appendChild(btn);
        }
      }

      div0.appendChild(div1);

      return div0;
    }

    function setBuildingBtn(btn, building) {
      btn.innerHTML = "Ausbau zu " + building.sNameNext + ":<br>" + building.sCostConstructNext + " € / " + building.nDaysConstructTotal.toString() + " Tage";
      btn.setAttribute('data-itype',  building.iType);
      btn.setAttribute('data-ilevel', building.iLevel + 1);
    }

    function getNumberInputDiv(btn, building) {
      var divNew = document.createElement("div");
      divNew.style.position = "relative";
      divNew.style.width = "50%";
      divNew.style.left = "25%";
      divNew.style.height = "40px";

      var txtNew = document.createElement("text");
      txtNew.innerText = "Neu:";
      txtNew.style.position = "absolute";
      txtNew.style.textAlign = "right";
      txtNew.style.top = "6px";
      txtNew.style.left = "0px";
      txtNew.style.width = "48%";
      txtNew.style.fontSize = "16px";
      divNew.appendChild(txtNew);

      var iptNew = document.createElement("input");
      iptNew.className = "form-control";
      iptNew.style.position = "absolute";
      iptNew.style.top = "0px";
      iptNew.style.width = "48%";
      iptNew.style.left = "52%";
      iptNew.style.height = "auto";
      iptNew.style.fontSize = "16px";
      iptNew.value = 1;
      iptNew.addEventListener("keyup", function () {
        $.ajax({
          url: '/Member/StadiumSurrGetSurrTypeNumber',
          type: "post",
          dataType: "JSON",
          data: { iType: building.iType, iNew: getIntFromString(iptNew.value), iCurrent: getIntFromString(building.sName) },
          success: function (bdg) {
            setBuildingBtn(btn, bdg);
          }
        });
      });
      building.sNameNext = (getIntFromString(building.sName) + getIntFromString(iptNew.value)).toString();
      divNew.appendChild(iptNew);

      return divNew;
    }

    function getGroundStadium() {
      var div0 = document.createElement("div");
      div0.style.position = "relative";
      div0.style.float = "left";
      div0.style.width = "320px";
      div0.style.height = "259px";

      var img = document.createElement("img");
      img.style.position = "absolute";
      img.style.top = "0px";
      img.style.left = "0px";
      img.style.width = "100%";
      img.src = "/Content/Images/stadium/stadion_S.png";
      div0.appendChild(img);

      return div0;
    }

    $(document).ready(function () {
      getCurrentBuildings();
    }); // $(document).ready()

    function setImage() {
      $.ajax({
        url: '/Member/StadiumGetTopring',
        type: "post",
        dataType: "JSON",
        success: function (bTopring) {
          if (bTopring) {
            document.getElementById("imgStadium").src = "/Content/Images/stadium/stadion_L.jpg";
          } else {
            document.getElementById("imgStadium").src = "/Content/Images/stadium/stadion_S.png";
          }
        }
      });
    }

    function getCurrentBuildings() {
      var divGroundContainer = $("#divGroundContainer");
      divGroundContainer.html('');
      $.ajax({
        type: 'post',
        url: '/Member/StadiumSurrGetBuildings',
        dataType: "json",
        success: function (buildings) {
          for (var iB = 0; iB < buildings.iGround; iB++) {
            if (iB == Math.ceil((buildings.iGround - 1) / 2)) {
              divGroundContainer.append(getGroundStadium());
            }

            if (iB < buildings.ltBuildings.length) {
              divGroundContainer.append(getGround(buildings.ltBuildings    [iB], null));
            } else {
              divGroundContainer.append(getGround(buildings.ltBuildingsFree[ 0], buildings.ltBuildingsFree));
            }
          }

          var grdNext = getGround(null);
          grdNext.getElementsByTagName("img")[0].style.opacity = 0.5;

          var btnBuyGround = document.createElement("button");
          btnBuyGround.type = "submit";
          btnBuyGround.className = "btn btn-default";
          btnBuyGround.style.position = "relative";
          btnBuyGround.style.width = "80%";
          btnBuyGround.style.height = "auto";
          btnBuyGround.style.left = "10%";
          btnBuyGround.style.top = "40%";
          btnBuyGround.style.fontSize = "16px";
          btnBuyGround.innerHTML = "Grundstück kaufen: " + buildings.sCostBuyGround + " €";
          btnBuyGround.addEventListener("click", buyGround);
          grdNext.appendChild(btnBuyGround);

          divGroundContainer.append(grdNext);
        }
      });
    }

    function buyGround() {
      $.ajax({
        type: 'post',
        url: '/Member/StadiumSurrBuyGround',
        dataType: "json",
        success: function (sMessage) {
          getCurrentBuildings();
        }
      });
    }

    function buildBuilding(btn) {
      var iType  = btn.getAttribute('data-itype');
      var iLevel = btn.getAttribute('data-ilevel');

      $.ajax({
        type: 'post',
        url: '/Member/StadiumBuildBuilding',
        dataType: "json",
        data: { iType: iType, iLevel: iLevel },
        success: function (sMessage) {
          alert(sMessage);
          window.location.reload(true);
        }
      });
    }
  </script>
</head>

<body>
  <h2>Stadionumgebung</h2>
  <div id="divGroundContainer" style="position: relative; height: 600px"></div>
</body>
</html>
