@model CornerkickWebMvc.Models.StadiumSurroundingsModel

@{
  ViewBag.Title = "Vereinsgelände";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
<!doctype html>
<html lang="en">
<head>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script type="text/javascript" src="~/Scripts/Finance.js"></script>
  <script type="text/javascript" src="~/Scripts/Numbers.js"></script>

  <style>
    .myPb {
      height: 14px;
      background-color: lime;
      text-align: center; /* To center it horizontally (if you want) */
      line-height: 14px; /* To center it vertically */
      color: black;
      text-shadow: 1px 1px 0 #DCDCDC;
      -webkit-border-radius: 3px;
    }
  </style>

  <script type="text/javascript">
    var bSound = true;
    var ltColor = ["#3ADF00", "#F78181", "#00ffff", "#FFBF00", "#819FF7", "#DA81F5", "", "#00ffbf", "", "#ffff00"];
    var bTopringGlobal = false;

    function getGround(building, ltBuildingsFree, bDisabled, i, iRep) {
      var div0 = document.createElement("div");
      div0.id = "divGroundAll_" + i.toString();
      div0.style.position = "relative";
      div0.style.float = "left";
      div0.style.width = "320px";
      div0.style.height = "259px";

      var img = document.createElement("img");
      img.className = "imgGround";
      img.style.position = "absolute";
      img.style.top = "0px";
      img.style.left = "0px";
      img.style.width = "100%";
      img.src = "/Content/Images/stadium/stadium_surrounding.png";
      div0.appendChild(img);

      var div1 = document.createElement("div");
      div1.className = "divGround";
      div1.style.position = "absolute";
      div1.style.top = "10%";
      div1.style.left = "8%";
      div1.style.height = "80%";
      div1.style.width = "84%";
      div1.style.textAlign = "center";

      if (building) {
        div1.id = "divGround_" + building.iType.toString();

        if (building.iType === 6) {
          var nCarparks = Math.max(Math.min(building.iLevel - (iRep * 750), 750) / 30, 1);

          if (nCarparks >= 25 || building.nDaysConstruct === 0) {
            if (nCarparks > 5) {
              var imgCarpark = document.createElement("img");
              imgCarpark.className = "imgCarpark";
              imgCarpark.style.position = "absolute";
              imgCarpark.style.top = "0px";
              imgCarpark.style.left = "10px";
              imgCarpark.src = "/Content/Images/stadium/carpark_connection_left.png";
              div1.appendChild(imgCarpark);
            }
            if (nCarparks > 10) {
              var imgCarpark = document.createElement("img");
              imgCarpark.className = "imgCarpark";
              imgCarpark.style.position = "absolute";
              imgCarpark.style.top = "42px";
              imgCarpark.style.left = "244px";
              imgCarpark.src = "/Content/Images/stadium/carpark_connection_right.png";
              div1.appendChild(imgCarpark);
            }
            if (nCarparks > 15) {
              var imgCarpark = document.createElement("img");
              imgCarpark.className = "imgCarpark";
              imgCarpark.style.position = "absolute";
              imgCarpark.style.top = "84px";
              imgCarpark.style.left = "10px";
              imgCarpark.src = "/Content/Images/stadium/carpark_connection_left.png";
              div1.appendChild(imgCarpark);
            }
            if (nCarparks > 20) {
              var imgCarpark = document.createElement("img");
              imgCarpark.className = "imgCarpark";
              imgCarpark.style.position = "absolute";
              imgCarpark.style.top = "126px";
              imgCarpark.style.left = "244px";
              imgCarpark.src = "/Content/Images/stadium/carpark_connection_right.png";
              div1.appendChild(imgCarpark);
            }
          }

          var divCarpark = document.createElement("div");
          divCarpark.style.position = "absolute";
          divCarpark.style.top = "0px";
          divCarpark.style.left = "19px";
          divCarpark.style.height = "100%";
          divCarpark.style.width = "100%";
          divCarpark.style.textAlign = "left";
          div1.appendChild(divCarpark);

          for (var iC = 0; iC < nCarparks; iC++) {
            var imgCarpark = document.createElement("img");
            imgCarpark.className = "imgCarpark";
            imgCarpark.style.position = "relative";
            if (nCarparks >= 25 || building.nDaysConstruct === 0) {
              imgCarpark.src = "/Content/Images/stadium/carpark.png";
            } else {
              imgCarpark.src = "/Content/Images/stadium/carpark_construct.png";
            }
            divCarpark.appendChild(imgCarpark);
          }
        } else if (building.iType < ltColor.length) {
          var divBorder = document.createElement("div");
          divBorder.className = "divGround";
          divBorder.style.position = "absolute";
          divBorder.style.top = "8%";
          divBorder.style.left = "7%";
          divBorder.style.height = "84%";
          divBorder.style.width = "86%";
          divBorder.style.textAlign = "center";
          divBorder.style.border = "6px solid " + ltColor[building.iType];
          div0.appendChild(divBorder);
        }

        if (!ltBuildingsFree && (building.iLevel > 0 || building.nDaysConstruct > 0)) {
          if (building.iType === 6 && bDisabled) {
          } else {
            var bCategory = document.createElement("b");
            bCategory.innerText = building.sCategory;
            bCategory.style.position = "relative";
            bCategory.style.width = "100%";
            bCategory.style.left = "0px";
            bCategory.style.fontSize = "22px";
            div1.appendChild(bCategory);

            var pCurr = document.createElement("p");
            pCurr.style.position = "relative";
            pCurr.style.width = "100%";
            pCurr.style.left = "0px";
            pCurr.style.fontSize = "18px";
            pCurr.style.marginTop = "4px";
            pCurr.style.marginBottom = "2px";
            if (!bDisabled) {
              pCurr.innerText = "Akt.: " + building.sName;
            }
            div1.appendChild(pCurr);
          }

          if (!building.bTypeInt) {
            plotStars(div1, building.iLevel, building.iLevelMax);
          }
        }

        if (building.iLevelReq > building.iLevel) {
          var imgWarning = document.createElement("img");
          imgWarning.style.position = "absolute";
          imgWarning.style.right = "0px";
          imgWarning.style.top = "0px";
          imgWarning.style.width = "30px";
          imgWarning.src = "/Content/Icons/attention.png";
          var sInfo = "Ihre Fans verlangen bei ausverkauftem Stadion min. ";
          if (building.iType === 8) {
            sInfo = "Ihre Fans wünschen sich min. ";
          }
          sInfo += building.iLevelReq.toString() + " " + building.sCategory;
          if (building.iType === 8) {
            sInfo += "s";
          }
          imgWarning.title = sInfo;
          div1.appendChild(imgWarning);
        }

        if (building.nDaysConstruct > 0 && !bDisabled) {
          var divNext = document.createElement("div");
          divNext.style.position = "absolute";
          divNext.style.bottom = "0px";
          divNext.style.left = "0px";
          divNext.style.width = "100%";

          var pNext = document.createElement("p");
          pNext.innerHTML = "Ausbau zu: " + building.sNameNext + " (noch " + building.nDaysConstruct.toString() + " Tage)";
          pNext.style.position = "relative";
          pNext.style.width = "100%";
          pNext.style.left = "0px";
          pNext.style.fontSize = "16px";
          divNext.appendChild(pNext);

          var divPb = document.createElement("div");
          divPb.style.position = "relative";
          divPb.style.top = "0px";
          divPb.style.left = "0px";
          divPb.style.width = "264px";
          divPb.style.backgroundColor = "white";
          divPb.style.webkitBorderRadius = "3px";
          var divPb1 = document.createElement("div");
          divPb1.className = "myPb";
          var fProgress = (100 * (building.nDaysConstructTotal - building.nDaysConstruct) / building.nDaysConstructTotal);
          divPb1.style.width = fProgress.toString() + '%';
          divPb1.innerHTML = fProgress.toFixed(1) + '%';
          divPb.appendChild(divPb1);
          divNext.appendChild(divPb);

          div1.appendChild(divNext);
        } else if (bDisabled) { // Full
        } else { // No construction
          var btn = document.createElement("button");

          if (building.bTypeInt) {
            div1.appendChild(getNumberInputDiv(btn, building));
          }

          btn.type = "submit";
          btn.className = "btn btn-default";
          btn.style.position = "absolute";
          btn.style.width = "100%";
          btn.style.left = "0px";
          btn.style.bottom = "0px";
          btn.style.height = "auto";
          btn.style.fontSize = "16px";
          setBuildingBtn(btn, building);
          btn.addEventListener("click", function () { buildBuilding(this); });
          if (building.bDispoOk == false) {
            btn.disabled = "disabled";
          }

          if (ltBuildingsFree && building.iLevel == 0) {
            var sct = document.createElement("select");
            sct.className = "form-control";
            sct.style.position = "relative";
            sct.style.width = "100%";
            sct.style.left = "0px";
            sct.style.height = "auto";
            sct.style.marginBottom = "4px";
            sct.style.fontSize = "16px";

            // Add remaining building types to select menu
            for (var iBdgFree = 0; iBdgFree < ltBuildingsFree.length; iBdgFree++) {
              var opt = document.createElement("option");
              opt.value = iBdgFree;
              opt.innerHTML = ltBuildingsFree[iBdgFree].sCategory;
              sct.appendChild(opt);
            }

            sct.addEventListener("change", function () {
              if (ltBuildingsFree[this.value].bTypeInt) {
                div1.appendChild(getNumberInputDiv(btn, ltBuildingsFree[this.value]));
              }

              setBuildingBtn(btn, ltBuildingsFree[this.value]);
            });

            div1.appendChild(sct);
          }

          div1.appendChild(btn);
        }
      } else {
      }

      div0.appendChild(div1);

      return div0;
    }

    function plotStars(parent, iStars, iStarsMax) {
      var iStarHeight = 24;

      var divStars = document.createElement("div");
      divStars.style.position = "relative";
      divStars.style.top = "0px";
      divStars.style.width = "100%";
      divStars.style.height = iStarHeight.toString() + "px";
      divStars.style.marginBottom = "6px";

      var i = 0;
      for (i = 0; i < iStarsMax - 1; i++) {
        var imgStar = document.createElement("img");
        imgStar.style.position = "relative";
        //imgStar.style.left = (i * (iStarHeight + 4)).toFixed(0) + "px";
        imgStar.style.top = "0px";
        imgStar.style.width = iStarHeight.toString() + "px";
        imgStar.style.marginRight = "2px";
        if (i < iStars) {
          imgStar.src = "/Content/Icons/star.ico";
          imgStar.title = (i + 1).toString();
        } else {
          imgStar.src = "/Content/Icons/star_empty.png";
        }
        divStars.appendChild(imgStar);
      }

      parent.appendChild(divStars);
    }

    function setBuildingBtn(btn, building) {
      btn.innerHTML = "Ausbau zu " + building.sNameNext + ":<br>" + building.sCostConstructNext + " € / " + building.nDaysConstructTotal.toString() + " Tage";
      btn.setAttribute('data-itype', building.iType);
      btn.setAttribute('data-ilevel', building.iLevel + 1);
    }

    function getNumberInputDiv(btn, building) {
      var divNew = getElementInsideContainer("divGround_" + building.iType.toString(), "divNew");

      if (!divNew) {
        divNew = document.createElement("div");
        divNew.id = "divNew_" + building.iType.toString();
        divNew.className = "divNew";
        divNew.style.position = "relative";
        divNew.style.width = "50%";
        divNew.style.left = "25%";
        divNew.style.height = "40px";

        var txtNew = document.createElement("text");
        txtNew.id = "txtNew_" + building.iType.toString();
        txtNew.className = "txtNew";
        txtNew.innerText = "Neu:";
        txtNew.style.position = "absolute";
        txtNew.style.textAlign = "right";
        txtNew.style.top = "6px";
        txtNew.style.left = "0px";
        txtNew.style.width = "48%";
        txtNew.style.fontSize = "16px";
        divNew.appendChild(txtNew);

        var iptNew = document.createElement("input");
        iptNew.id = "iptNew_" + building.iType.toString();
        iptNew.className = "form-control iptNew";
        iptNew.style.position = "absolute";
        iptNew.style.top = "0px";
        iptNew.style.width = "48%";
        iptNew.style.left = "52%";
        iptNew.style.height = "auto";
        iptNew.style.fontSize = "16px";
        iptNew.value = 1;
        iptNew.addEventListener("keyup", function () {
          $.ajax({
            url: '/Member/StadiumSurrGetSurrTypeNumber',
            type: "GET",
            dataType: "JSON",
            data: { iType: building.iType, iNew: getIntFromString(iptNew.value), iCurrent: getIntFromString(building.sName) },
            success: function (bdg) {
              setBuildingBtn(btn, bdg);
            }
          });
        });
        building.sNameNext = (getIntFromString(building.sName) + getIntFromString(iptNew.value)).toString();
        divNew.appendChild(iptNew);
      }

      return divNew;
    }

    function getElementInsideContainer(containerID, childClassName) {

      for (var i = 0; i < document.getElementsByClassName(childClassName).length; i++) {
        var elm = document.getElementsByClassName(childClassName)[i];
        var parent = elm ? elm.parentNode : {};

        if (parent.id && parent.id === containerID) {
          return elm;
        }
      }

      return null;
    }

    function getGroundStadium(bTopring) {
      var div0 = document.createElement("div");
      div0.style.position = "relative";
      div0.style.float = "left";
      div0.style.width = "320px";
      div0.style.height = "259px";

      var img = document.createElement("img");
      img.style.position = "absolute";
      img.style.top = "0px";
      img.style.left = "0px";
      img.style.width = "100%";
      if (bTopring) {
        img.src = "/Content/Images/stadium/stadion_L.jpg";
      } else {
        img.src = "/Content/Images/stadium/stadion_S.png";
      }
      div0.appendChild(img);

      return div0;
    }

    $(document).ready(function () {
      bSound = @Html.Raw(Json.Encode(Model.bSound));

      $.ajax({
        url: '/Member/StadiumGetTopring',
        type: "GET",
        dataType: "JSON",
        success: function (bTopring) {
          getCurrentBuildings(bTopring);
          bTopringGlobal = bTopring;
        }
      });
    }); // $(document).ready()

    function getCurrentBuildings(bTopring) {
      var divGroundContainer = $("#divGroundContainer");
      divGroundContainer.html('');
      $.ajax({
        type: 'GET',
        url: '/Member/StadiumSurrGetBuildings',
        dataType: "json",
        success: function (buildings) {
          var iType = 0;
          for (var iB = 0; iB < buildings.iGround; iB++) {
            if (iB == Math.ceil((buildings.iGround - 1) / 2)) {
              divGroundContainer.append(getGroundStadium(bTopring));
            }

            if (iType < buildings.ltBuildings.length) {
              var iRpt = 0;
              for (iRpt = 0; iRpt < buildings.ltBuildings[iType].nRepeat - 1; iRpt++) {
                divGroundContainer.append(getGround(buildings.ltBuildings[iType], null, true, iB, iRpt));
                iB++;

                if (iB == Math.ceil((buildings.iGround - 1) / 2)) {
                  divGroundContainer.append(getGroundStadium(bTopring));
                }
              }
              divGroundContainer.append(getGround(buildings.ltBuildings[iType], null, false, iB, iRpt));
            } else {
              // Ground without building
              divGroundContainer.append(getGround(buildings.ltBuildingsFree.length > 0 ? buildings.ltBuildingsFree[0] : null, buildings.ltBuildingsFree, false, iB, 0));
            }

            iType++;
          }

          var grdNext = getGround(null, buildings.ltBuildingsFree, false, iB);
          grdNext.getElementsByTagName("img")[0].style.opacity = 0.5;

          var btnBuyGround = document.createElement("button");
          btnBuyGround.type = "submit";
          btnBuyGround.className = "btn btn-default";
          btnBuyGround.style.position = "absolute";
          btnBuyGround.style.width = "80%";
          btnBuyGround.style.height = "auto";
          btnBuyGround.style.left = "10%";
          btnBuyGround.style.top = "78%";
          btnBuyGround.style.fontSize = "16px";
          btnBuyGround.innerHTML = "Grundstück kaufen: " + buildings.sCostBuyGround + " €";
          btnBuyGround.addEventListener("click", buyGround);
          grdNext.appendChild(btnBuyGround);

          divGroundContainer.append(grdNext);

          var grdNext1 = getElementInsideContainer(grdNext.id, "divGround");
          var divPossBlgs = document.createElement("div");
          divPossBlgs.style.position = "absolute";
          divPossBlgs.style.top = "0px";
          divPossBlgs.style.width = "100%";
          divPossBlgs.style.textAlign = "left";

          var pPossibleBlgs = document.createElement("u");
          pPossibleBlgs.innerHTML = "Verbleibende Gebäudetypen:";
          pPossibleBlgs.style.position = "relative";
          pPossibleBlgs.style.width = "100%";
          pPossibleBlgs.style.left = "0px";
          pPossibleBlgs.style.fontSize = "16px";
          divPossBlgs.appendChild(pPossibleBlgs);

          var ulPossibleBlgs = document.createElement("ul");
          ulPossibleBlgs.style.position = "relative";
          ulPossibleBlgs.style.fontSize = "16px";
          if (buildings.ltBuildingsFree.length === 0) {
            var liPossibleBlg = document.createElement("li");
            liPossibleBlg.innerHTML = "keine";
            ulPossibleBlgs.appendChild(liPossibleBlg);
          } else {
            for (var iBdgFree = 0; iBdgFree < buildings.ltBuildingsFree.length; iBdgFree++) {
              var liPossibleBlg = document.createElement("li");
              liPossibleBlg.innerHTML = buildings.ltBuildingsFree[iBdgFree].sCategory;
              ulPossibleBlgs.appendChild(liPossibleBlg);
            }
          }
          divPossBlgs.appendChild(ulPossibleBlgs);

          grdNext1.appendChild(divPossBlgs);
        }
      });
    }

    function buyGround() {
      $.when(getBalanceAjax()).done(function (iBalance) {
        $.ajax({
          type: 'GET',
          url: '/Member/StadiumSurrBuyGround',
          dataType: "json",
          success: function (sMessage) {
            getCurrentBuildings(bTopringGlobal);
            updateBalance(iBalance[0]);
          }
        });
      });
    }

    function buildBuilding(btn) {
      var iType = btn.getAttribute('data-itype');
      var iLevel = btn.getAttribute('data-ilevel');

      $.when(getBalanceAjax()).done(function (iBalance) {
        $.ajax({
          type: 'GET',
          url: '/Member/StadiumBuildBuilding',
          dataType: "json",
          data: { iType: iType, iLevel: iLevel },
          success: function (sMessage) {
            alert(sMessage);

            if (bSound) {
              var audioConstruction = new Audio("/Content/Sound/construction.wav");
              if (audioConstruction) {
                audioConstruction.volume = 0.5;
                audioConstruction.play();
              }
            }

            getCurrentBuildings(bTopringGlobal);
            updateBalance(iBalance[0]);
          }
        });
      });
    }
  </script>
</head>

<body>
  <h2>@ViewBag.Title</h2>
  <div id="divGroundContainer" style="position: relative; height: 600px"></div>
</body>
</html>
