@model CornerkickWebMvc.Models.StatisticModel

@{
  ViewBag.Title = "Statistik";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Statistik</title>
  <script type="text/javascript" src="~/Scripts/Player.js"></script>
  <script type="text/javascript" src="~/Scripts/Formation.js"></script>

  <script type="text/javascript">
    $(document).ready(function () {
      var ddlStatNations   = $('#ddlStatNations');
      var ddlStatFormation = $('#ddlStatFormation');

      $("#rbProfi").on('change', function (ev) {
        drawBest11();
      });

      $("#rbJouth").on('change', function (ev) {
        drawBest11();
      });

      ddlStatNations.change(function () {
        drawBest11();
      });

      ddlStatFormation.change(function () {
        drawBest11();
      });

      drawBest11();
    });

    function drawBest11() {
      var bJouth = document.getElementById("rbJouth").checked;
      var ddlStatNations   = $('#ddlStatNations');
      var ddlStatFormation = $('#ddlStatFormation');
      // end declarations

      iNation    = ddlStatNations  .val();
      iFormation = ddlStatFormation.val();

      $.ajax({
        cache: false,
        url: "/Member/StatisticGetBest11",
        type: "GET",
        data: { iNat: iNation, iF: iFormation, bJouth: bJouth },
        success: function (teamData) {
          if (teamData) { // check if data is defined
            var bMobile = $(window).width() < 960;
            var result = "";
            var drawFormation = $("#drawFormation");

            $.each(teamData.ltPlayer, function (i, player) {
              result += getBoxFormation(i, teamData.formation.ptPos[i], player.sName, player.iNr.toString(), teamData.ltPlayerAveSkill[i], false, false, -1, teamData.ltPlayerPos[i], bMobile, 0.5, teamData.ltPlayerTeamname[i], teamData.ltPlayerAge[i], teamData.ltPlayerNat[i]);

              return i !== 11;
            });

            drawFormation.html(result).fadeIn('slow');

            var txtStatAverage = $("#txtStatAverage");
            txtStatAverage.html("Durchschnittsstärke (-alter): " + teamData.fTeamAveStrength.toFixed(2) + " (" + teamData.fTeamAveAge.toFixed(1) + ")");
          } else {
            alert("data hasn't worked!");
          }
        }
      });
    }
  </script>
</head>

<body>
  <div style="position: relative; width: 160px; height: auto; margin-bottom: 6px">
    @Html.DropDownListFor(m => m.iNation, Model.ddlNations, new { @Id = "ddlStatNations", @class = "form-control" })
  </div>

  <div class="image" id="divFieldContainer" style="position: relative; width: 70%; min-width: 360px; margin-bottom: 6px">
    <img style="position: relative; width: 100%" src="~/Content/Images/stadium/field.png" />
    <div style="position: absolute; margin-left: 5%; width: 90%; height: 94%; top: 0px; left: 0%">
      <div id="drawFormation" style="position: absolute; width: 100%; height: 100%; top: 0%; left: 0%"></div>
    </div>
    <div align="center" style="position: absolute; top: 2px; width: 100%">
      <div style="position: relative; width: 300px; height: 30px; top: -15px; background-color: white; border: 2px solid black; -webkit-border-radius: 10px; -moz-border-radius: 10px">
        <form>
          <fieldset>
            <label style="font-size:140%; color: black; margin-right: 4%">
              <input type="radio" id="rbProfi" name="rbProfiJouth" value="0" checked>
              Profis
            </label>
            <label style="font-size:140%; color: black">
              <input type="radio" id="rbJouth" name="rbProfiJouth" value="1">
              U18
            </label>
          </fieldset>
        </form>
      </div>
    </div>

    <b id="average" style="position: absolute; bottom: 0%; left: 0%; width: 100%; text-align:center; font-size:130%; color:white"></b>
  </div>

  <div style="position: relative; width: 120px; height: auto">
    @Html.DropDownListFor(m => m.sFormation, Model.ltsFormations, new { @Id = "ddlStatFormation", @class = "form-control" })
  </div>
  <text id="txtStatAverage" style="position: relative; width: 100%"></text>
</body>
</html>
