@model CornerkickWebMvc.Models.StatisticModel

@{
  ViewBag.Title = "Statistik";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Statistik</title>

  <link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
  <script type="text/javascript" src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="~/Scripts/Player.js"></script>
  <script type="text/javascript" src="~/Scripts/Formation.js"></script>

  <script type="text/javascript">
    $(document).ready(function () {
      var ddlStatNations   = $('#ddlStatNations');
      var ddlStatFormation = $('#ddlStatFormation');
      var ddlStatLeagues = document.getElementById("ddlStatLeagues");

      var dtTeams = $('#tblTeams').DataTable({
        "ajax": {
          "url": '@Url.Action("StatisticGetTableTeams", "Member")',
          "type": 'GET',
          "data": function (d) {
            d.sCupId = ddlStatLeagues.value;
          }
        },
        "searching": true,
        "paging": false,
        "info": false,
        "pageLength": 20,
        "order": [[3, "desc"]],
        "columns": [
          { "data": "iIx", "className": "dt-center" },
          { "data": "iTeamId" },
          {
            "data": "sTeamName",
            "render": function (data, type, row) {
              return '@Html.ActionLink("name", "ClubDetails", "Member", new { iClub = "id" }, new { target = "" })'.replace("name", data).replace("id", row.iTeamId);
            },
            "className": "dt-center"
          },
          { "data": "sTeamAveSkill", "className": "dt-center" },
          { "data": "sTeamAveAge", "className": "dt-center" },
          {
            "data": "iTeamValueTotal",
            "className": "dt-right",
            render: $.fn.dataTable.render.number('.', ',', 0, '')
          },
          { "data": "nPlayer", "className": "dt-center" },
          { "data": "sTeamAveSkill11", "className": "dt-center" },
          { "data": "sTeamAveAge11", "className": "dt-center" },
          {
            "data": "iTeamValueTotal11",
            "className": "dt-right",
            render: $.fn.dataTable.render.number('.', ',', 0, '')
          },
          {
            "data": "fAttrFactor",
            "className": "dt-right",
            render: $.fn.dataTable.render.number('.', ',', 1, '')
          },
          { "data": "sLeague", "className": "dt-center" }
        ],
        columnDefs: [
          {
            targets: [0, 1],
            "visible": false,
            "searchable": false
          }
        ]
      });

      $('#ddlStatLeagues').change(function () {
        dtTeams.ajax.reload();
      });

      drawTableStadiums();
    }); // document ready

    function drawTableStadiums() {
      $('#tblStatisticStadiums').DataTable({
        "ajax": {
          "url": '@Url.Action("StatisticGetStadiumsTable", "Member")',
          "type": 'GET',
          "dataType": "JSON",
          "cache": false,
          "contentType": "application/json; charset=utf-8"
        },
        "columns": [
          { "data": "iIx" },
          { "data": "sName" },
          {
            "data": "iTotal",
            render: $.fn.dataTable.render.number('.', ',', 0, '')
          },
          {
            "data": "iType0",
            render: $.fn.dataTable.render.number('.', ',', 0, '')
          },
          {
            "data": "iType1",
            render: $.fn.dataTable.render.number('.', ',', 0, '')
          },
          {
            "data": "iType2",
            render: $.fn.dataTable.render.number('.', ',', 0, '')
          },
          { "data": "bTopring" },
          { "data": "sClubName" }
        ],
        "language": {
          "emptyTable": "Keine Stadien"
        },
        "pageLength": 10,
        "paging": false,
        "info": false,
        "responsive": false,
        "searching": false,
        "select": false,
        "columnDefs": [
          { "targets": [1, 6, 7], "className": "dt-center" },
          { "targets": [0, 2, 3, 4, 5], "className": "dt-right" }
        ],
        "fnRowCallback": function (nRow, aData, iDisplayIndex) {
          if (aData.iTotalCtn > 0) {
            $('td:eq(2)', nRow).html(aData.iTotal.toLocaleString() + " (" + aData.iTotalCtn.toLocaleString() + ")");

            if (aData.iType0Ctn > 0) {
              $('td:eq(3)', nRow).html(aData.iType0.toLocaleString() + " (" + aData.iType0Ctn.toLocaleString() + ")");
            }

            if (aData.iType1Ctn > 0) {
              $('td:eq(4)', nRow).html(aData.iType1.toLocaleString() + " (" + aData.iType1Ctn.toLocaleString() + ")");
            }

            if (aData.iType2Ctn > 0) {
              $('td:eq(5)', nRow).html(aData.iType2.toLocaleString() + " (" + aData.iType2Ctn.toLocaleString() + ")");
            }
          }

          if (aData.bTopring) {
            $('td:eq(6)', nRow).html("X");
          } else {
            $('td:eq(6)', nRow).html("-");
          }
        }
      });
    }
  </script>
</head>

<body>
  <div style="position: relative">
    <h3 style="position: relative; margin-top: 30px">Mannschaftsübersicht</h3>
    <div style="position: relative; width: 180px; height: auto; z-index: 99">
      @Html.DropDownListFor(m => m.sCupId, Model.ddlLeagues, new { @Id = "ddlStatLeagues", @class = "form-control" })
    </div>

    <div style="position: relative; width: 100%; top: -30px">
      <table id="tblTeams" cellspacing="0" style="width: 100%" class="display responsive nowrap">
        <thead>
          <tr>
            <th>#</th>
            <th>ID</th>
            <th>Team</th>
            <th>&#8709;-Stärke</th>
            <th>&#8709;-Alter</th>
            <th>&#8709;-MW [€]</th>
            <th>Spieler</th>
            <th>&#8709;-Stärke Startelf</th>
            <th>&#8709;-Alter Startelf</th>
            <th>&#8709;-MW Startelf [€]</th>
            <th>Erfolgsfaktor</th>
            <th>Liga</th>
          </tr>
        </thead>
        <tbody>
          <!---Data and tags are dynamically generated--->
        </tbody>
      </table>
    </div>
  </div>

  <div style="position: relative">
    <h3 style="position: relative; margin-top: 30px">Größte Stadien</h3>

    <div style="position: relative; width: auto; top: 0px">
      <table id="tblStatisticStadiums" cellspacing="0" style="width: auto" class="display responsive nowrap">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Kapazität (im Bau)</th>
            <th>Stehpl.</th>
            <th>Sitzpl.</th>
            <th>VIP Pl.</th>
            <th>Oberring</th>
            <th>Heimatverein</th>
          </tr>
        </thead>
        <tbody>
          <!---Data and tags are dynamically generated--->
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>
