@{
  ViewBag.Title = "Cornerkick Home";
  Random random = new Random();
}

<html style="height: 100%; min-height: 100%">
<head>
  <meta charset="utf-8">

  <script type="text/javascript" src="~/Scripts/jquery-2.0.0.min.js"></script>

  <style>
    .ckTeaser {
      font-size: 20px;
      font-family: Arial, Helvetica, sans-serif
    }

    .ckTeaserSmall {
      font-size: 14px;
      font-family: Arial, Helvetica, sans-serif
    }
  </style>

  <script type="text/javascript">
    $(document).ready(function () {
      setView();
    }); // $(document).ready(function () {});

    $(window).resize(function () {
      setView();
    });

    function zoomImg(img) {
      var small = { width: "200px" };
      var large = { width: "800px" };

      if (img.width() == "200") {
        img.animate(large);
      } else {
        img.animate(small);
      }
    }

    function setView() {
      var divImg = document.getElementById("divImg");

      var fWidth = $(window).width();
      if (fWidth < 1200) {
        divImg.style.float = "left"
      } else {
        divImg.style.float = "right"
      }

      if (fWidth < 450) {
        divImg.style.width = "280px"
        divImg.style.top = "-20px"

        ltEl = document.getElementsByName("txtTeaser");
        for (var iEl = 0; iEl < ltEl.length; iEl++) {
          ltEl[iEl].className = " ckTeaserSmall";
        }
      } else {
        divImg.style.width = "420px"
        divImg.style.top = "-40px"

        ltEl = document.getElementsByName("txtTeaser");
        for (var iEl = 0; iEl < ltEl.length; iEl++) {
          ltEl[iEl].className = " ckTeaser";
        }
      }
    }
  </script>
</head>

<body onload="setTimeout(function(){ window.scrollTo(0, 1); }, 100)" style="height: 100%; min-height: 100%">
  <div class="jumbotron" style="background-color: rgb(31, 158, 69)">
    <div id="divImg" style="position: relative; float: right; top: -38px; width: 520px; box-shadow: 4px 4px #696969">
      <img style="width: 100%" src="~/Content/Images/ck.png" />
    </div>

    <div style="position: relative; color: white">
      <h1>CORNERKICK</h1>
      <p class="lead" style="position: relative">Football manager simulation</p>
      <p><a href="/Account/Register" class="btn btn-primary btn-lg" style="width: 270px; background-color: red; border: 2px solid white">Registrieren &raquo;</a></p>
      <p><a href="/Account/Login" class="btn btn-primary btn-lg" style="width: 270px; background-color: rgb(255, 242, 0); color: black; border: 2px solid white">Anmelden &raquo;</a></p>
    </div>
  </div>

  <div class="jumbotron" style="background-color: rgb(31, 158, 69)">
    <div style="position: relative; color: white; margin-top: 0px">
      <img src="~/Content/Images/logo_64.png" width="24" />
      <text name="txtTeaser" class="ckTeaser">Absolut kostenlos, keine in-game Käufe</text>
    </div>

    <div style="position: relative; color: white; margin-top: -10px">
      <img src="~/Content/Images/logo_64.png" width="24" />
      <text name="txtTeaser" class="ckTeaser">Komplette Simulation der Spiele in Echtzeit</text>
    </div>

    <div style="position: relative; color: white; margin-top: -10px">
      <img src="~/Content/Images/logo_64.png" width="24" />
      <text name="txtTeaser" class="ckTeaser">Spiele nationale Wettbewerbe und qualifiziere dich für internationale Pokale</text>
    </div>

    <div style="position: relative; color: white; margin-top: -10px">
      <img src="~/Content/Images/logo_64.png" width="24" />
      <text name="txtTeaser" class="ckTeaser">Gewinne die Meisterschaft und coache die Nationalmannschaft</text>
    </div>

    <div style="position: relative; color: white; margin-top: -10px">
      <img src="~/Content/Images/logo_64.png" width="24" />
      <text name="txtTeaser" class="ckTeaser">Baue dein Stadion aus und errichte weitere Gebäude um deinen Verein nach ganz oben zu bringen</text>
    </div>

    <div style="position: relative; color: white; margin-top: -10px">
      <img src="~/Content/Images/logo_64.png" width="24" />
      <text name="txtTeaser" class="ckTeaser">Umfassende Statistik z.B. deiner Spieler</text>
    </div>
  </div>

  <div style="width: 100%; height: 400px; z-index: 99">
    <div style="width: 200px; cursor: pointer; margin-right: 10px; margin-bottom: 10px; float: left" onclick="zoomImg($(this))">
      <img style="width: 100%; border: 1px solid black" src="~/Content/Images/user_manual/Team1a.gif" />
    </div>

    <div style="width: 200px; cursor: pointer; margin-right: 10px; margin-bottom: 10px; float: left" onclick="zoomImg($(this))">
      <img style="width: 100%; border: 1px solid black" src="~/Content/Images/user_manual/Team3a.gif" />
    </div>

    <div style="width: 200px; cursor: pointer; margin-right: 10px; margin-bottom: 10px; float: left" onclick="zoomImg($(this))">
      <img style="width: 100%; border: 1px solid black" src="~/Content/Images/user_manual/PlayerDetails.gif" />
    </div>

    <div style="width: 200px; cursor: pointer; margin-right: 10px; margin-bottom: 10px; float: left" onclick="zoomImg($(this))">
      <img style="width: 100%; border: 1px solid black" src="~/Content/Images/user_manual/Tactic.png" />
    </div>

    <div style="width: 200px; cursor: pointer; margin-right: 10px; margin-bottom: 10px; float: left" onclick="zoomImg($(this))">
      <img style="width: 100%; border: 1px solid black" src="~/Content/Images/user_manual/Game.png" />
    </div>
  </div>

  <p><a href="/Home/UserManual" class="btn btn-default" style="font-size:20px">Anleitung &raquo;</a></p>

  <p style="position: relative; margin-top: 30px">Version: 1.37.0</p>
  <p style="position: relative">Commit: @System.Web.Configuration.WebConfigurationManager.AppSettings["appharbor.commit_id"]</p>
</body>
</html>
