@{
  ViewBag.Title = "Cornerkick Home";
}

<div class="jumbotron">
  <h1>CORNERKICK</h1>
  <p class="lead">Football manager simulation</p>
  <p><a href="/Home/UserManual" class="btn btn-primary btn-lg">User manual &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Registrieren</h2>
        <p><a class="btn btn-default" href="/Account/Register">&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Anmelden</h2>
        <p><a class="btn btn-default" href="/Account/Login">&raquo;</a></p>
    </div>
</div>
