@{
  ViewBag.Title = "Cornerkick Home";
  Random random = new Random();
}

<html style="height: 100%; min-height: 100%">
<head>
  <meta charset="utf-8">

  <script type="text/javascript">
    $(window).resize(function () {
      setView();
    });

    $(document).ready(function () {
      setView();
    }); // $(document).ready(function () {});

    function setView() {
      var divImg = document.getElementById("divImg");

      var fWidth = $(window).width();
      if (fWidth < 1200) {
        divImg.style.float = "left"
      } else {
        divImg.style.float = "right"
      }

      if (fWidth < 450) {
        divImg.style.width = "280px"
        divImg.style.top   = "-20px"
      } else {
        divImg.style.width = "420px"
        divImg.style.top   = "-40px"
      }
    }
  </script>
</head>

<body onload="setTimeout(function(){ window.scrollTo(0, 1); }, 100)" style="height: 100%; min-height: 100%">
  <div class="jumbotron" style="background-color: rgb(31, 158, 69)">
    <div id="divImg" style="position: relative; float: right; top: -40px; width: 420px">
      <div class="getty embed image" style="background-color:#fff;display:inline-block;font-family:Roboto,sans-serif;color:#a7a7a7;font-size:11px;width:100%;max-width:507px;"><div style="padding:0;margin:0;text-align:left;"><a href="http://www.gettyimages.de/detail/515801917" target="_blank" style="color:#a7a7a7;text-decoration:none;font-weight:normal !important;border:none;display:inline-block;">Embed from Getty Images</a></div><div style="overflow:hidden;position:relative;height:0;padding:66.66667% 0 0 0;width:100%;"><iframe src="//embed.gettyimages.com/embed?assets=515801917,158933824,158933689,158933732&et=Rnnsl1PYSRRZ8_UOHFdzHQ&tld=de&sig=HddF2oEWfjRLkMeLP_-JoQLm2pryIRARz87Yk0EQz28=&caption=false&ver=1" scrolling="no" frameborder="0" width="507" height="338" style="display:inline-block;position:absolute;top:0;left:0;width:100%;height:100%;margin:0;"></iframe></div></div>
    </div>

    <div style="position: relative; color: white">
      <h1>CORNERKICK</h1>
      <p class="lead" style="position: relative">Football manager simulation</p>
      <p><a href="/Account/Register" class="btn btn-primary btn-lg" style="width: 270px; background-color: red; border: 2px solid white">Registrieren &raquo;</a></p>
      <p><a href="/Account/Login" class="btn btn-primary btn-lg" style="width: 270px; background-color: rgb(255, 242, 0); color: black; border: 2px solid white">Anmelden &raquo;</a></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <p><a href="/Home/UserManual" class="btn btn-default" style="font-size:20px">Anleitung &raquo;</a></p>
    </div>
  </div>
  <p style="position: relative">Version: 1.23.0</p>
  <p style="position: relative">Commit: @System.Web.Configuration.WebConfigurationManager.AppSettings["appharbor.commit_id"]</p>
</body>
</html>
