<?xml version="1.0" encoding="utf-8"?>
<!--
Diese Datei wird vom Veröffentlichungs-/Paketierungsprozess Ihres Webprojekts verwendet. Sie können das Verhalten dieses Prozesses anpassen,
indem Sie diese MSBuild-Datei bearbeiten. Weitere Informationen hierzu finden Sie unter https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/7cf03132-31ae-48b4-b930-d8a008f02ad9/resourcegroups/ckRessourceGroupD/providers/Microsoft.Web/sites/Cornerkick</ResourceId>
    <ResourceGroup>ckRessourceGroupD</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://cornerkick.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>cornerkick.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Cornerkick</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Cornerkick</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:ckdatabaseserverd.database.windows.net,1433;Initial Catalog=ckDatabaseD;User ID=adminCk@ckdatabaseserverd;Password=!Cornerkick1" Name="Data Source=tcp:ckdatabaseserverd.database.windows.net,1433;Initial Catalog=ckDatabaseD;User Id=adminCk@ckdatabaseserverd;Password=!Cornerkick1" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="CornerkickWebMvc.Models.ApplicationDbContext, CornerkickWebMvc" MigrationConfiguration="CornerkickWebMvc.Migrations.Configuration, CornerkickWebMvc" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:ckdatabaseserverd.database.windows.net,1433;Initial Catalog=ckDatabaseD;User Id=adminCk@ckdatabaseserverd;Password=!Cornerkick1</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>